{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | About | Bureaucracy</title>
{% endblock %}

{% block main-content %}
  <h1>Caving Bureaucracy</h1>
  <p>Here you can find all the documentation for the administration of the club.</p>

  <h2>Meetings</h2>
  <p>Minute for all meetings on record can be found <a href="http://www.srcf.ucam.org/caving/Documents/Meetings/">here</a>.</p>

  <h2>Accounts</h2>
  <p>Our accounting is currently done through the <a href="https://sb476.user.srcf.net/boc/boc.pl">Bank of CUCC</a>. Be aware that this site does not work on mobile due to buttons appearing off-screen (and sometimes not on larger devices either). Club members can log on and see their current credits and debits.</p>
  <p>Accounts logs, such as they are, can be found <a href="http://www.srcf.ucam.org/caving/Documents/Accounts">here</a>, and accounting policy <a href="http://www.srcf.ucam.org/caving/Documents/AccountingPolicy/">here</a>.</p>

  <h2>Documents</h2>
  <p>Our constition can be found <a href="{% static 'Documents/Policies/Constition/ConstitutionLates.pdf'}">here (pdf)</a>.</p>
  <p>All other club documents can be found <a href="http://www.srcf.ucam.org/caving/Documents/">here</a>.</p>

{% endblock %}

{% block side-content %}

{% endblock %}
