{% extends 'Library/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | About | Library</title>
{% endblock %}

{% block main-content %}
  <h1>The CUCC Library</h1>
  <p>CUCC has a collection of books, journals, and club archives that are kept in Pembroke College</p>

  <h2>Using the Library</h2>
  <p>Club members are welcome to borrow books or journals from the library (with the exception of guidebooks, which are not usually borrowable by individuals, as they are needed for club meets). When borrowing books please ensure that you fill in the loan book and return the volume within a fortnight - other people may want the same book, especially in the case of techniques manuals. Non-club members wishing to use the library should contact the librarian.</p>

  <h2>Catalogues</h2>
  <p>The catalogues are currently being updated. The catalogue of books is complete - so please pass any new additions to the librarian so that they can be properly catalogued too. The cataloguing of journals is ongoing....</p>
  <p>The catalogue of books can be found <a href="{% url 'LibraryBooks' %}">here</a>.</p>

  <h2>Cambridge Underground: The CUCC Journal</h2>
  <p>In days gone by, the CUCC would publish a journal of their comings and goings in and around the caves of the world. Sadly, a dip in membership caused the loss of this tradition. It is the hope of the author of this website (T. Crossley, 2019) that it will go some of the way to replacing that lost asset. If time and motivation can be found, we may even produce the journal once more (with the help of the revived trip blogging system).</p>
  <p>The last issue was in 2012, and can be read online <a href="https://issuu.com/aiora.zabala/docs/cambridgeunderground2012_royalsize">here</a>.</p>
  <p>If you wish to contribute to the revival of the journal, please <a href="{% url 'ContactCommittee' %}">get in touch!</a></p>

  <h2>Missing Books</h2>
  <p>Previous library inventories were done in 1993 and partially done in 1998. Books that were listed in those but are now not in the library are listed here. If you have any of these, or know where they might be, please let the librarian know.</p>
  <p>The current list of missing books can be found <a href="{% url 'LibraryMissingBooks' %}">here</a>.</p>

  <h2>Scanned Volumes</h2>
  <p>While we have scanned Images of all the club journals, we have not yet got a collection of scanned logbooks.</p>
{% endblock %}
