{% extends 'Ardeche/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | About | Trips Abroad</title>
{% endblock %}

{% block main-content %}
  <h1>Trips Abroad</h1>
  <p>The CUCC organises trip for caving outside the UK throughout the year. Often, these take place in the Easter Holidays and are chosen by the President, hence being called "President's Meets."</p>

  <h2>Ardeche Caves and Potholes</h2>
  <p>CUCC have been running trips to the Ardèche region in the south of France, which affords many fine caving trips, for many years (trips in at least 2001, 2003, 2005, 2006, 2007, 2012, 2013, 2014, 2015, and 2017). Unfortunately, the main guidebook Speleo Sportive en Ardèche is often of limited use (but well worth getting hold of) and many of the holes can be hard to find. As a result, CUCC members started to create an archive of useful information about caves in the area. It is now quite good, and may be the best English-language caving guide to the area. </p>
  <p>The archive is published here so as to be useful to others: you use the information at your own risk. As a point of advice, when caving in the area two things are worth watching out for: </p>
  <ul>
    <li> Unsound belays. Remember that the majority of caves in the area are bolted with copious Spits of varying quality, although resin anchors are starting to appear. Great care should be taken when rigging to use sufficiently many bolts of an acceptable quality.</li>
    <li> High levels of carbon dioxide. These are present in a fair number of the caves, especially vertical potholes with little ventilation at the bottom.</li>
  </ul>
  <p>The caves in the area are warm and you will likely want to wear significantly less than you might for a UK trip. </p>
  <p>The descriptions below vary from virtually non-existent to quite detailed. There may well be inaccuracies or factual errors. Please contact Mark (mark at [spamtastic] three-tuns.net) if you have comments or suggested updates. Some more updates are likely in due course. </p>
  <p>More updates, arising from recent trips, will be added as soon as time permits. </p>
  <p>All descriptions are copyright © 2003, Mark Shinwell and David Loeffler. </p>
{% endblock %}
