{% extends 'StaticPages/base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Contact | Mailing Lists</title>
{% endblock %}

{% block main-content %}
  <h1>Mailing Lists</h1>
  <p>CUCC Communicate primarily via email. The best way of staying up to date with the goings-on of the CUCC is to <a href="https://lists.srcf.net/mailman/listinfo/caving-main">sign up to the mailing list</a> (raven log-in required)</p>
  <p>Alternatively, if you want to get in contact with the club, you can send an email to <a href="{% url 'ContactCommittee' %}">one of the committee</a> or send a message to our <a href="https://www.facebook.com/CamCaving/">facebook page</a>.</p>
{% endblock %}

{% block side-content %}
  <h2></h2>
{% endblock %}
