{% extends 'StaticPages/base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Contact | Mailing Lists</title>
{% endblock %}

{% block main-content %}
  <h1>Mailing Lists</h1>
  <p>CUCC Communicate primarily via email. The best way of staying up to date with the goings-on of the CUCC is to <a href="https://lists.srcf.net/mailman/listinfo/caving-main">sign up to the mailing list (caving-main@srcf.net)</a>. This link requires a Raven login to access. If you are outside of the university and do not have a Raven login, please contact the <a href="mailto:caving-president@srcf.net">President</a> or the <a href="mailto:caving-secretary@srcf.net">Secretary</a>, who will be able to add your email address to the list.</p>
  <p>Due to the amount of spam sent to these lists, all emails not from a list member or an @cam.ac.uk address are silently discarded.</p>
  <p>Alternatively, if you want to get in contact with the club, you can find addresses for the rest of the committee <a href="{% url 'ContactCommittee' %}">here</a> or send a message to our <a href="https://www.facebook.com/CamCaving/">facebook page</a>.</p>
  <h2>Other mailing lists</h2>
  <p>The committee mailing list is <a href="https://lists.srcf.net/mailman/listinfo/caving-admin">here (caving-admin@srcf.net)</a>, and the expedition mailing list is <a href="https://lists.wookware.org/cgi-bin/mailman/listinfo/expo">here (expo@lists.wookware.org)</a>. Please follow these links to sign up.</p>
{% endblock %}

{% block side-content %}
  <h2></h2>
{% endblock %}
