<!-- templates/registration/password_reset_form.html -->
{% extends 'Base.html' %}

{% block title %}<title>CUCC | Forgotten Password</title>{% endblock %}

{% block main-content %}
  <h1>Forgot your password?</h1>
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    <table class="w3-table w3-striped">
    {{ form.as_table }}
    </table>
    <div class="w3-padding-16">
      <button class="w3-button w3-theme-d3 w3-hover-black w3-mobile" type="submit">Send me the instructions</button>
    </div>
  </form>
{% endblock %}
