{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Sign Up</title>
{% endblock %}

{% block main-content %}
  <h2>Sign Up</h2>
  <form method="post">
    {% csrf_token %}
    <table class="w3-table w3-striped">
      {% for field in form %}
      {% if field is not form.data_protection and field is not form.medical_data and field is not form.risk_acceptance and field is not form.constituion %}
      <tr>
      <td width="20%"><b>{{ field.label_tag }}</b></td>
      <td width="80%">{{ field }} {{ field.help_text }}</td>
      </tr>
      {% elif field is form.data_protection %}
      <tr>
        <td><b>{{ field.label_tag }}</b></td>
        <td>
          <p>{{ field }} I accept the following statements about data usage by the CUCC:</p>
          <ul>
            <li>All data submitted to this site is stored in electronic form by the CUCC.</li>
            <li>All membership details (other than emergency contacts) are passed to the British Caving Association (BCA) for insurance. The University Of Cambridge requires this insurance to be in place in order for the club to operate.</li>
            <li>Name, email address and phone number (if given) are shared with people attending meets to facilitate running the meet and for use in the event of an accident or emergency.</li>
            <li>All details are shared with the committee for club administration and for use in the event of an accident or emergency.</li>
            <li>All details may be passed to the emergency services.</li>
          </ul>
        </td>
      </tr>
      {% elif field is form.medical_data %}
      <tr>
        <td><b>{{ field.label_tag }}</b></td>
        <td>
          <p>{{ field }} I accept the following statements about medical data by the CUCC:</p>
          <ul>
            <li>Under GDPR, the CUCC cannot and does not collect any medical data from its members. However, caving is a dangerous sport and cavers are encouraged to share any relevant medical details with other members of their caving parties for safety reasons. This data is to be communicated by word of mouth on a voluntary case-by-case basis only.</li>
            <li>In the event of a medical emergency or rescue situation, CUCC members may disclose medical data (that they have been given through the above channels) to rescue personnel and members of the emergency services where it is deemed necessary.</li>
          </ul>
        </td>
      </tr>
      {% elif field is form.risk_acceptance %}
      <tr>
        <td><b>{{ field.label_tag }}</b></td>
        <td>
          <p>{{ field }} I accept the BCA Paritipation Statement, as endorsed by the CUCC:</p>
          <blockquote class="w3-panel w3-leftbar w3-theme-d2 w3-card">"The BCA recognises that caving, cave diving and mine exploration are activities with a danger of personal injury or death. Participants in these activities should be aware of and accept these risks and be responsible for their own actions and involvement." <br><p class="w3-small">-- <a href="https://british-caving.org.uk/wiki3/lib/exe/fetch.php?media=membership:bca_application_form_club_insurance_v10.pdf">BCA Membership Form</a>, Accessed 2019/08/19</p></blockquote>
        </td>
      </tr>
      {% elif field is form.constituion %}
      <tr>
        <td><b>{{ field.label_tag }}</b></td>
        <td>
          <p>{{ field }} I have read and agree to the <a href="{% static 'Documents/Policies/Constitution/ConstitutionLatest.pdf' %}">CUCC Constituion</a>.</p>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
    <button class="w3-button w3-theme-d3 w3-hover-black" type="submit">Sign up</button>
  </form>
{% endblock %}
