{% extends 'Bank/EditEvent/EditEventBase.html' %}
{% load static %}

{% block form %}
  <h2>Event Setup</h2>
  <form method="post" action="{% url 'EditEventData' event.event_key %}">
  {% csrf_token %}

  <table class="w3-table w3-striped">
    <tr>
      <td>Name:</td>
      <td><input class="w3-input" type="text" name="name" value="{{ event.name }}"></td>
    </tr>
    <tr>
      <td>Date:</td>
      <td><input class="w3-input" type="date" name="date" value="{{ event.date.date.isoformat }}"></td>
    </tr>
    <tr>
      <td>Fee Template:</td>
      <td>
        <select class="w3-input" name="fee_template">
          {% for template in template_list %}
            <option value="{{ template.template_key }}" {% if template == event.fee_template %}selected{% endif %}>{{ template }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td colspan='2'><b>Users:</b></td>
    </tr>
    {% for user_account in user_list %}
      <tr>
        <td>{{ user_account }}:</td>
        <td>
          <input class="w3-input" type="checkbox" name="USER:{{ user_account.account_key }}" value="user" {% for transaction in event.transaction_group.transaction_set.all %}{% for entry in transaction.entry_set.all %}{% if entry.account_a == user_account %}checked {% endif %}{% endfor %}{% endfor %}>
        </td>
      </tr>
    {% endfor %}
  </table>
  <div class="w3-padding-16">
    <button class="w3-button w3-theme-d3 w3-hover-black w3-mobile" type="submit">Next</button>
  </div>
  </form>
{% endblock %}
