{% if user.is_authenticated and perms.Gear.register_gear or perms.Gear.view_hires %}
  <h2>Gear Actions</h2>
  {% if perms.Gear.register_gear %}
  <h3>Add Entries to Inventory</h3>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'AddRope' %}">Add Rope Entry</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'AddHelmet' %}">Add Helmet Entry</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'AddSRTKit' %}">Add SRT Kit Entry</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'AddHarness' %}">Add Harness Entry</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'AddUndersuit' %}">Add Undersuit Entry</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'AddOversuit' %}">Add Oversuit Entry</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'AddOtherGear' %}">Add Other Gear Entry</a>
  {% endif %}

  {% if perms.Gear.view_hires %}
  <h3>View Hire Instances</h3>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ViewHiresRope' %}">View Rope Hires</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ViewHiresHelmet' %}">View Helmet Hires</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ViewHiresSRTKit' %}">View SRT Kit Hires</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ViewHiresHarness' %}">View Harness Hires</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ViewHiresUndersuit' %}">View Undersuit Hires</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ViewHiresOversuit' %}">View Oversuit Hires</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ViewHiresOtherGear' %}">View Other Gear Hires</a>
  {% endif %}
{% endif %}
