{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Meets | Calendar</title>
{% endblock %}

{% block main-content %}
  <h1>Calendar</h1>
  <p>Please refer to the google calendar embeded below (or reachable via <a href="https://calendar.google.com/calendar?cid=dGpsZ3JhdTM3NXUwMm4yNnFycGVhaDRmZmtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">this link</a>) for details of upcoming CUCC Activities. If you spot an error, contact The Meets and Social Secretaries, who maintain it.</p>
  <p>Feel free to add this calendar to yours so you can stay up to date with the CUCC from anywhere you can access your Google Calendar.</p>
  <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FLondon&amp;src=dGpsZ3JhdTM3NXUwMm4yNnFycGVhaDRmZmtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23E4C441&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0" class="w3-card-4 w3-block" style="border-width:0" width="800" height="600" frameborder="0" scrolling="yes"></iframe>
  <p></p>
{% endblock %}

{% block side-content %}
  <h2>CUCC Events</h2>
  <p>The CUCC Organise may events throughout the year. During university term time, we operate <a href="{% url 'AboutMeetsFormatCost' %}">Weekend Meets</a>, <a href="{% url 'MeetsSocial' %}">Social Meets</a>, and <a href="{% url 'MeetsTraining' %}">Training Meets</a>. Click the links to find out more.</p>
  <p>Since the CUCC is made up of a great variety of people, there is almost always a contingent of members in Cambridge. For this reason, the <a href="{% url 'MeetsPub' %}">Pub Meets</a> happen every Tuesday year-round.</p>
{% endblock %}
