{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Meets | Social</title>
{% endblock %}

{% block main-content %}
  <h1>Social Meets</h1>
  <p>The CUCC organise Social Meets throughout term. They provide a nice social escape from work without the commitment of a full Weekend Meet.</p>

  <h2>Climbing & Bouldering</h2>
  <p>A particular favourite of ours are Climbing Socials. There are two bouldering walls in Cambridge: <a href="https://www.kelseykerridge.co.uk/">Kelsey Kerridge</a> and <a href="https://rainbowrocket.cc/">Rainbow Rocket</a>. We usually prefer Rainbow Rocket, as it has more routes, but it is a little bit further away from the centre of town than Kelsey Kerridge.</p>
  <p>Bouldering provides some good exercise, plenty of challenge, and a decent chance to stand around and chat to other cavers (or other gym-goers). Climbing Socials usually end up in the pub, once everyone is too tired to climb anymore.</p>

  <h2>BBQs and Fun with Ropes</h2>
  <p>A lovely way to chill out in the summer months is with a BBQ on Lammas Land. This is often accompanied by a tight-rope SRT traverse across the Cam, much to the amusement of passing kyakers.</p>
  <p>Like with most meals in the CUCC, there are enough vegetarians and vegans in the club for anyone with any particular dietary habbits not to feel alone. So come and chill out with us in the green parks of Cambridge and escape from your revision!</p>
{% endblock %}

{% block side-content %}
  <h2>Popular Meet Locations</h2>

  <h3>Rainbow Rocket Climbing Wall</h3>
  <iframe class="w3-card-4" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=0.13713330030441287%2C52.192556385792365%2C0.14161258935928348%2C52.194110146679144&amp;layer=mapnik&amp;marker=52.193333273024194%2C0.13937294483184814" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=52.19333&amp;mlon=0.13937#map=19/52.19333/0.13937">View Larger Map</a></small>

  <h3>Kelsey Kerridge Sport Centre</h3>
  <iframe class="w3-card-4" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=0.12825787067413333%2C52.2003147835655%2C0.13273715972900393%2C52.20186827326946&amp;layer=mapnik&amp;marker=52.20109153520542%2C0.1304975152015686" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=52.20109&amp;mlon=0.13050#map=19/52.20109/0.13050">View Larger Map</a></small>

  <h3>Lammas Land</h3>
  <iframe class="w3-card-4" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=0.10619401931762697%2C52.19400163180979%2C0.12035608291625978%2C52.2002161474652&amp;layer=mapnik&amp;marker=52.19710899824864%2C0.11327505111694336" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=52.19711&amp;mlon=0.11328#map=17/52.19711/0.11328">View Larger Map</a></small>

  <p></p>
  <img src="{% static "Images/CamTraverse.jpg" %}" class="w3-card-4 w3-hide-small" style="width:100%" alt="Traversing the Cam with SRT">
  <p></p>

{% endblock %}
