{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | About | Contitution & Safety</title>
{% endblock %}

{% block main-content %}
  <h1>Callout Procedure and Guidelines</h1>
  <p>A callout is a notice given to someone above ground about the time when a group is expected to return, the members of the group, and the route to be taken. All caving parties leave a callout and this is an essential safety measure. This ensures that no excess time would be spent underground by any party after any incident.</p>
  <ul>
    <li>A callout should consist of at least:</li>
    <ul>
      <li>The time at which you desire people to come looking for you (including the possibility of a cave rescue service being called)</li>
      <li>The number of people in the party</li>
      <li>A brief description of your planned trip (minimum of cave & location within cave for longer systems)</li>
      <li>Registration numbers of your car(s)</li>
      <li>Contact information of at least one person on the trip (e.g. mobile number)</li>
    </ul>
    <li>A callout is a request for help at that time; choose it wisely. <i>Your caving party</i> is responsible for this help being summoned, which may include cave rescue. Respect that cavers on the surface have to be free to manage the search/rescue as they see fit.</li>
    <li>No callouts should be set between midnight and 7am, as expecting a rescue at this time would be unrealistic. Any callouts set in this period will default to 7am the following day.</li>
    <li>The callout is your safety net - by setting a callout, you get to choose when you would like help to begin their search. Choose a time carefully based on your expectations for the trip, and then manage your time to return with plenty spare (a good rule of thumb is to aim to be out an hour before your callout). Remember that missing your callout time will waste a considerable number of volunteer-hours that could be put to better use. This is not acceptable.</li>
    <li>Cavers on the surface should respect that the underground party picked a time at which they asked for help to be summoned. After the callout elapses, they have a duty of care to their fellow cavers to effect a rescue. However, situations vary hugely, so they are free to choose how to proceed (including calling a cave rescue organisation).</li>
    <li>It is expected that a reasonable contingent (enough to effect a rescue) of cavers will remain sober on the surface until the last callout has been cancelled.</li>
    <li><b>All CUCC trips <i>must</i> have callouts. There are no Exceptions.</b></li>
  </ul>
{% endblock %}

{% block side-content %}
  <h1>Policy Documents</h1>
  <p>CUCC has an excellent safety record, due largely to the great base of experience within the Club's older members which is passed down each year.</p>
  <p>Great care is taken to fully train new cavers, use safe practices underground and to regularly inspect and maintain safety-critical equipment.</p>
  <p>The following formal documents relate to CUCC's safety policy and associated procedures.</p>
  <ul>
    <li><a href="{% static 'docs/Constitution2019.pdf' %}">Constitution (2019) (pdf)</a></li>
  </ul>
{% endblock %}
