{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Misc | Committee Functions</title>
{% endblock %}

{% block main-content %}
  <h1>Committee Functions</h1>

  <h2>President</h2>
  <p>The president is responsible for coordinating the committee and making sure things get done. The important events through term are as follows:</p>

  <h3>Jobs</h3>
  <ul>
    <li> Beginning of Easter term - discuss trips of the term, if any (~April)</li>
    <li> End of easter term (~June):</li>
    <ul>
      <li> start preparing Freshers' week: book the stall ASAP with CUSU, book the room for the Freshers' event (often in Pembroke)</li>
      <li> book huts for Freshers' meets in October</li>
    </ul>
    <li> Before Michaelmas term (~September): </li>
    <ul>
      <li> get Freshers week ready:</li>
      <ul>
        <li> stall</li>
        <li> rota to be at the stall--usually Doodle works</li>
        <li> who brings stall materials</li>
        <li> who takes them back</li>
        <li> who makes/prints the leaflets</li>
        <li> who presents at the Squash</li>
        <li> who gets the food...</li>
        <li> find leaflets, freshers' fliers, signs for the squash and other treasures in the documentation</li>
      </ul>
      <li> agree the calendar of meets for Michaelmas</li>
      <li> get meet leaders for Freshers' meet</li>
      <li> book the training stage</li>
      <li> (an inventory of the T store at this stage comes in handy, to make sure that the club doesn't need to buy more material, and that material doesn't disappear during Freshers' meets)</li>
      <li> find an organiser for the Annual dinner, to happen towards the end of Lent term (the place needs to be booked early on)</li>
    </ul>
    <li> Towards the end of Michaelmas (~Nov-Dec): </li>
    <ul>
      <li> agree on the calendar of meets for Lent term</li>
      <li> organise and announce the Yorkshire meet of New Year</li>
      <li> start thinking of Expo organisation---try finding a leader</li>
    </ul>
    <li> Beginning of Lent term: </li>
    <ul>
      <li> find meet leaders</li>
      <li> ask the treasurer whether the accounts are in good pace to be ready by the AGM</li>
    </ul>
    <li>Early during term time: set the date for the AGM:</li>
    <ul>
      <li> approve accounts of the year</li>
      <li> approve accounts of the year</li>
    </ul>
  </ul>

  <h3>General Pestering</h3>
  <p>And these are general things to do throughout the year, pester people to do the following (i.e. check that this is happening, or either kindly ask them to do it)... </p>
  <ul>
    <li> meet leaders (and other responsible people) to use the sign-out book</li>
    <li> meet leaders/tackle master to make sure material is returned</li>
    <li> meet leaders/tackle master to make sure ropes are washed no later than ~2 weeks after a trip (otherwise they start to "smell")</li>
    <li> the social sec to organise a couple or more of dinners/lunches/talks... each term... and to be there, or either make sure that someone is there to take care of people</li>
    <li> the meets secretary to update the calendar</li>
    <li> the tackle master to have an updated inventory of the T-store (at least once a year)</li>
    <li> the treasurer to keep regular accounting, so that the annual accounts are painless and ready by the AGM</li>
    <li> the secretary to take decent minutes of the meetings, and put them in the documentation online</li>
    <li> the librarian to do something about the library</li>
    <li> the meets leader to book huts early one (usually at least one month ahead)... and to cancel bookings if no one will show up!</li>
    <li> the lamp post has been consistently the most responsible person in the club in recent years, so you'll probably not need to pester that person</li>
    <li> sometime in the year, you (or the tackle master) may also want to check who has a key for the T-store. </li>
  </ul>

  <h2>Typical Calendar</h2>
  <p>This is the typical calendar. Make sure all is prepared as necessary, i.e. that someone is taking care of this, that things are booked--some things need to be booked well in advance: </p>
  <ul>
    <li> Sep-Oct: Freshers' week, squash, official Freshers' and regular meets, training sessions!</li>
    <li> Dec-Jan: New Year's meet to Yorkshire</li>
    <li> Jan-Feb: more official club trips and training sessions, first (or second) Expo meeting (Expo dates to be decided, funding applications to be sent)</li>
    <li> Feb-Apr: Annual dinner, Annual General Meeting</li>
    <li> Apr-Jun: Club meets are usually organised ad-hoc</li>
    <li> June(ish): Expo training meet</li>
    <li> Jul-Aug: Expo!!</li>
  </ul>
  <p>A general tip: yours is also the responsibility to make sure decisions are made and to 'keep peace' in the club, i.e. you're also a mediator and your goal is that things keep going without any deadlocks (politeness, patience, and brief email responses worked for me). </p>
  <p>Now, take a look at the Constitution, and the Meets Accounting Policy, and any other documentation that you wish. </p>

  <!--
  <h2>Senior Treasurer</h2>
  -->

  <h2>Junior Treasurer</h2>
  <p>Keep your eye on the money!</p>
  <ul>
    <li>Hound trip leaders for expense reports of meets</li>
    <li>Keep the Bank of Caving up-to-date</li>
    <li>Comply with the proctors requests for accounts as best you can</li>
  </ul>

  <h2>Secretary</h2>
  <ul>
    <li>Send BCA member details</li>
    <li>Renewal</li>
    <li>Take meeting minutes</li>
    <li>Affiliated with CNCC</li>
  </ul>

  <h2>Tackle Master</h2>
  <p>This diatribe is intended to inform new tackle-masters of what they (perhaps) don't already know of the tackle-mastering trade. Given the number of tasks (and likely more I've forgotten), I'll try to be succinct and avoid tedious background, but where applicable give a rationale. Nevertheless there's probably things you think you already know, or don't want to know anyway. I describe how I did it for two years in a way that suited me. Other ways may be better for you and indeed the club... </p>

  <h3>Gear</h3>
  <p>Worth putting useless crap that probably ought to be gotten rid of, but hasn't been for some reason (such as possibly being sellable); expo-only stuff (drills, expedition first-aid stuff, unused meal ingredients); and ladder-making supplies (steel wire and aluminium bars) somewhere out of the way.</p>
  <p>It's handy to hang fat ropes (10mm or greater) together and 9mm separately, in length order for easy selection. Commonly, returned (unwashed / unchecked) rope is deposited on the floor beneath the rope rack. </p>
  <ul>
    <li>Wellies: best kept in pairs once dry - if returned wet leave standing to dry so they don't start to stink </li>
    <li>Rope: static, and quality differs dramatically between makes - best assessed by feeling rope prior to purchase. Diameter is denoted by the stripe pattern (*in general*). One band a broken black line == 9mm, two distinct bands == 10mm, three distinct bands == 11mm, three bands, where two of the bands are side by side == 10.5mm. When chaining, best NOT to have more than four strands together, but to have a longer chain, to reduce the awfulness of the ensuing tangle upon unravelling. The life of club rope is hard, since nobody cares about it very much, and so abseil like idiots. This makes some rope (e.g. Mammut 9mm) unsuitable. </li>
    <li>Tackle sacks all require a donkey's dick of a bit under one meter in length (post knot-tying) and at least one shoulder strap. Tackle sacks should be replaced or repaired when they have holes sufficiently large that an unsecured maillon could easily fall out. Cheaper ones are a false economy - the material wears very quickly, and the bag lasts for less than a year. Donkey's dicks should attach to the tackle sack, pass through the loop on the other side of the bag mouth (such that when pulled the bag closes), and have a loop to attach a karabiner to on the other end. </li>
    <li>Bags: the large canvas ones (with shoulder straps) are good for transporting gear to a training event. The strength of the plastic bags reduces with use and number of holes in the bag; try to get more each time you buy stuff at Inglesport/Bernies. </li>
    <li>Small first aid kits: should be taken on club trips to go underground, and not used. Find a tame St John's Ambulancer in the club to replenish them as required. </li>
    <li>SRT kits: comprising two snap-link karabiners (for cowstails), a screwgate karabiner (attaching the stop), a stop, a hand-jammer with a maillon (for the safety link and foot loops), a chest jammer, an adjustable foot-loop, and a steel screwgate krab (for abseil braking). Club safety cords and cowstails (for training) should NOT be stored with the kits, lest people take them underground. </li>
    <li>Eight sets of cowstails and safety cords (lettered A-H) are kept separately - allowing the kits to go underground, while keeping the training sets in good condition. People going on their first SRT trips will need providing with their own cowstails, safety links (cut from dynamic rope) and footloops (old retired slings). </li>
    <li>Oversuits should have a pea-less whistle (Perry whistle) and an emergency bag in the pocket. These extras often go missing unfortunately, and have to be replaced. </li>
    <li>Helmets: should have backup lights (LED diver's torches) attached. Be very careful to note who gets them, as the torches are expensive and easily removed from helmets. </li>
    <li>Kneepads: buy the cheapest (probably Beaver) as they will get lost before being entirely worn out </li>
    <li>Harnesses we ought to have about 10, as we use them to lifeline novices on ladders. When buying harnesses consider the need for them to be adjustable (for example, Singing Rock's `Digger' harness rapidly gets very hard to adjust, and hence is unsuitable for club use). Watch that the steel delta 10mm maillons to fasten them don't get too stiff or lost. </li>
    <li>Lamp belts: give out the wider ones in preference. </li>
    <li>Ladders come in 20 foot and 30 foot lengths. 20' ladders are wound with every second rung together, i.e. rungs 1,3,5 go together, opposite rungs 2,4,6. 30' ladders are wound every third rung together. In this fashion, a correctly wound 20' can be pushed inside a 30' for storage as a 'nest'. Ladders *should* have a spreader when hung, to attach them to a single point, so it is worth checking that one is remembered for training sessions and meets when ladders are taken. It is also important to check that spreaders are returned. Identification of length: red ends 30ft, black ends 20ft. </li>
    <li> Maillons: buy the "Long opening 7mm steel" variety. Nice if stored in strings of 5, so they may be easily counted and are easier to pack for rigging. </li>
    <li>Karabiners: standard screwgate D shaped aluminium variety in general. Again stored in strings. Worth keeping a few snaplink and steel karabiners as can be used in rigging, and make ready replacements if SRT kit bits get lost. Oval ones should be used with pulleys. </li>
    <li>Hangers: we have five major types: bollards, clowns, bends, twists and rings. Of these, bollards are the best. They are also no longer made. Grrr. Do not allow anyone to lose them on pain of death. Clowns are remarkably useless and should not be bought. The other three each have their uses and when purchased, should be bought in roughly even quantities (maybe favouring rings slightly). Hangers can require maintenance - in the form of putting o-rings on to stop the bolts making bids for freedom. </li>
  </ul>

  <h3>Jobs</h3>
  <ul>
    <li>Keep the tackle store tidy: Self explanatory. If you can guilt others into doing it all the better. </li>
    <li>Fresher's squash (possibly the fair too if keen): Bring a clothing set, helmet, SRT gear, light etc. for people to see and be prepared to answer any questions about safety and use. For those signing up to trips, make sure to get them to indicate welly size and gear size (often best to have overlapping ranges of multiple choice heights to tick, and then decide whether that makes them an S, L, XL etc. later on), and make sure that emails and telephone numbers are also recorded. </li>
    <li>Trips: Personal gear: Using the valuable information acquired above, spend an hour before everyone is to meet up making up sets of gear for new cavers. A novice set consists of: Wellies, Undersuit, Oversuit, Belt, Light, Harness, Kneepads, Helmet (with backup light if possible), and a bag to put it all in. Writing names on tape, and sticking it to the bag, reduces confusion for both you and them. With regard to to novice trips, you may find you have insufficient of some items - ask others in the club for things to borrow. </li>
    <li>Rigging gear etc.: Provide whatever the trip leader thinks is required, and anything else you think they've forgotten (such as first aid kits) </li>
    <li>Sign-out: Make sure that all items removed from the tackle store, whether by new member or old are recorded with as great a degree of specificity as possible. Oversuits, undersuits and harnesses are all individually marked, and SRT kits are assigned distinct tape colours. </li>
    <li>After the trip: Send an email to all who borrowed gear asking for its clean return. If there is an obvious time such as a rope wash or training, then that is a good time. Otherwise you will have to keep going to meet up with them at pre-arranged times (as it is a bad bad bad idea to give them unattended access to the tackle store). In the event of training occurring the Tuesday two days after a weekend trip you will have a large problem, as you will have no harnesses. Ergo, campaign forcefully that training weeks should not be immediately after a weekend meet. This will make your life easier. </li>
    <li>Rope washes: Should be organized when there is dirty rope. Often best conducted on the Tuesday evening that doesn't have a training session. Inadvisable to let backlogs of unchecked rope build up, as extra long sessions are tedious, and organizing people outside of the normal Tuesday slot requires more notice. There is a moral obligation that those who go on a trip ought to clean their own rope - do not be afraid to point this out. Other tangible (edible) rewards will also serve well. </li>
    <li>Rope cutting / marking: When rope is damaged it should be cut either side of the bad section. Acquire a cheap carving knife (or similar), with a big flat serrated blade and insulated handle. Using a blow torch heat the blade until glowing red (best not conducted indoors) and it should pass through the rope, sealing the end as it goes. If necessary "smooth" round the cut edges with the blade for a better finish, fusing the sheath to the core. </li>
    <li>Measure the cut lengths (surveying tape comes in handy), and on a piece of yellow heatshrink tube use a non-soluble pen (Linen felt tip pens work well) to write the length (BIG), "CUCC" and the year of the rope's purchase (not so BIG). Play the blow torch gently over this on the rope end until it is firm and won't come off (not so much that it splits however!). Cover with a slightly longer length of clear heatshrink and repeat (the clear is always *very* keen to split for some reason). </li>
    <li>Making cowstails / safety links: When making cowstails / safety links from a dynamic rope use the same cutting method. A safety link needs be *no longer* than 2.20m and a cowstail *no longer* than 3.00m. Inform the treasurer of who gets them. When buying new rope for the purpose get the toughest thickest stuff you can find (probably 10.5mm) and make sure to have two differentiable colours for ease of distinguishing them in use. </li>
    <li>Gear tape: The club's gear should be gear taped purple. Club SRT kits should each be assigned an additional colour to ensure that kits can stay together, for easy contents checking and permitting blame in the event of partial loss. Personal gear tape colours should also be assigned to those buying their own equipment. You'll have to encourage them to choose some, and reference them to the current-ish list on the website. Point out that they need two or more colours, should try to avoid clashing with those high up the list, and not use purple. The list on the website needs maintaining. Personal gear tape colours should also be assigned to those buying their own equipment. You'll have to encourage them to choose some, and reference them to the current-ish list on the website. Point out that they need two or more colours, should try to avoid clashing with those high up the list, and not use purple. The list on the website needs maintaining. </li>
  </ul>

  <h3>The Annual Grant Application, Five Year Plan and Accounts Fiddling</h3>
  <p>In May, the Societies Syndicate meet to agree (or not!) the annual grants for clubs that apply for them. Sometime before this therefore, the club is invited to submit its application. This application includes a five year plan of equipment maintenance and expenditure, and the year's accounts to date. </p>
  <p>The five year plan in the past has included an introduction to what CUCC does, what gear it purchases, how the gear gets used, why it is necessary, what funding of the club's own money we spend, and what money we should like in a grant and what we propose to spend it on. </p>
  <p>This ties in closely with the accounts, as the accounting system has an idea of "pools" which segregate funds for different purposes, so it is as well to ensure that the amount of money going in and out of these pools balances in the long term, and also to ensure that the money from the previous grant has been spent roughly in accordance with how it was claimed we would when applying for it (or concoct a good story of why it wasn't). This may require some interaction with the presentation of the accounts to put funds in the right places, and so should be done before the accounts are finalized for the year. Since the AGM has unfortunately been moved to Lent this in turn means such things have to be thought about before the reminder comes through in Easter. </p>
  <p>I've been on the committee for the Societies' Syndicate, as has Mark Shinwell, so ask if you want advice. </p>

  <h3>Paperwork</h3>
  <p>The grant stuff (and covering letters) of years past, a previous novice gear sign-up chart (which could be improved greatly), and the source documents to the sign-out book should probably be kept on the website... </p>

  <h3>General Gear Purchasing Advice</h3>
  <p>Shop around for things that are not obviously caving gear (such as dynamic rope for cowstails). For caving gear the choice is between Inglesport, Hitch n'Hike, Starless River, and Caveclimb.com for the most part. Going to them regularly helps you get recognized and so better service (and discounts - do not be afraid to ask for discounts). </p>

  <h3>Discarding Gear</h3>
  <p>The club generally has enough money that when something is knackered, it can easily be replaced. Given the litigious times we enjoy, do not hesitate to retire questionable things (but equally, consult with others on whether worn items are dangerous or not - safety gear is built very well, and can withstand a lot). Petzl publish guidelines on how long gear should be kept (buried on page 4 of the PDF for a pulley). Rope, harnesses, helmets and slings of five years use (e.g 2007 gear, in 2012) should all be retired in Michaelmas term. </p>
  <p>Note that it is worth retaining the old harnesses/helmets for training / ladder work at the beginning of term so that we have more available when dealing with the influx of novices (ladders do not *actually* need a harness - a belt will do - but club policy is to issue harnesses for increased safety - hence an "older" harness is fine for this purpose). On this line of thought, keep, rather than binning, the old harnesses/helmets in the loft (where they cannot be used inadvertently), lest there be any other bouts of novices going on ladders, or a training session immediately after a weekend trip, when spares will be very handy. </p>

  <h3>Labelling Gear</h3>
  <p>Harnesses, helmets, oversuits and undersuits should be labelled in water resistant pen. Harnesses and helmets identified with year of first use, and a unique identifier - e.g. "Nov 06 A", clothing with size and unique id (e.g. L4). </p>

  <h3>In conclusion</h3>
  <p>Being tackle-master does require you to put in hours at the tackle store and time chasing people up for not returning gear. Hopefully the above is (somewhat) intelligible and (somewhat) helpful - that was certainly its intention. If you have any problems during the year, or questions, just ask someone! </p>

  <h2>Meets Secretary</h2>
  <ul>
    <li>Details about booking huts</li>
    <li>Good huts</li>
    <li>Details about cave permits</li>
    <li>Good novice caves</li>
    <li>Meet leaders</li>
    <li>Library in Pembroke contains guides</li>
    <li>Pester people to write trip logs</li>
  </ul>

  <h3>Yorkshire</h3>
  <ul>
    <li>Huts:</li>
    <ul>
      <li>Bullpot Farm (near Leck Fell)</li>
      <li>Brackenbottom </li>
      <li>Yorkshire Subterranean Society</li>
    </ul>
    <li>Permits: See CNCC Website for details</li>
  </ul>

  <h3>Derbyshire</h3>
  <ul>
    <li>Huts:</li>
    <ul>
      <li>TSG</li>
      <li>Orpheus</li>
    </ul>
  </ul>

  <h3>South Wales</h3>
  <ul>
    <li>Huts:</li>
    <ul>
      <li>SWCC</li>
      <li>Whitewalls</li>
    </ul>
  </ul>

  <h3>Mendip</h3>
  <ul>
    <li>Huts:</li>
    <ul>
      <li>Wessex</li>
      <li>Belfry (BEC)</li>
      <li>Shepton Mallet</li>
      <li>Mendip Cave Ground (Not Recommended)</li>
    </ul>
  </ul>

  <h2>Social Secretary</h2>
  <p>Organise the club's social calendar!</p>
  <ul>
    <li>Annual Dinner</li>
    <li>Pub Meets</li>
    <li>Climbing Socials</li>
    <li>Club Curries (once per term)</li>
  </ul>

  <h2>Training Officer</h2>
  <ul>
    <li>Book Queen's Stage for Training in winter</li>
    <li>Use trees on Lammas Land or ones near Churchill for outdoor training in summer</li>
  </ul>

  <h2>Webmaster</h2>
  <ul>
    <li>Knowledge of python, html, css, php all useful. Site runs on django.</li>
    <li>Update the site as you see fit:</li>
    <ul>
      <li>correct outdated information as you come accross it (all html files are in public_html/templates)</li>
      <li>add pages where necessary (see any good django tutorial for how to do this, and copy and paste from other pages to get right styling)</li>
    </ul>
    <li>Keep user permissions up-to-date</li>
    <li>Update relevant pages such as the Committee Lists</li>
  </ul>

  <!--
  <h2>Librarian</h2>
  -->

{% endblock %}

{% block side-content %}
  <p></p>
  <a href="{% url 'ContactCommittee' %}">Back to Committee Contact Page</a>
{% endblock %}
