{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Misc | ExCS</title>
{% endblock %}

{% block main-content %}
  <h1>ExCS: Ex Cambridge Speleological</h1>
  <p>Are you an Ex-Cambridge Speleologist? </p>
  <p>It's useful to keep in touch with your old caving mates and maybe even go caving or do something else with them again occaisionally. ExCS exists for this purpose. </p>
  <p>Please visit the <a href="http://caves.org.uk/excs/">ExCS Website</a>.</p>
{% endblock %}

{% block side-content %}
{% endblock %}
