{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Misc | Meet Leader Checklist</title>
{% endblock %}

{% block main-content %}
  <h1>Meet Leader Checklist</h1>

  <h2>Homework</h2>
  <ul>
    <li>Members participating</li>
    <ul>
      <li>Names & colleges/addresses</li>
      <li>Contacts (email/phone)</li>
      <li>Gear set & lamp requirements</li>
      <ul>
        <li>Lamps recharged</li>
        <li>Gear sets borrowed/sorted</li>
      </ul>
      <li>Drive?</li>
      <li>Help with food?</li>
      <li>Health/medication</li>
      <li>Dietary requirements</li>
      <li>Novices?</li>
      <ul>
        <li>Need extra information:</li>
        <ul>
          <li>'Caving in Cambridge' leaflet, including 'What to bring'</li>
          <li>NCA Leaflets</li>
        </ul>
        <li>Ladder Practise? When, where...</li>
      </ul>
    </ul>
    <li>Transport</li>
    <ul>
      <li>Borrow or Hire?</li>
      <li>Drivers:</li>
      <ul>
        <li>Both directions?</li>
        <li>Age requirements?</li>
        <li>Take licences</li>
      </ul>
      <li>Vehicles:</li>
      <ul>
        <li>Capacity: People + gear</li>
        <li>Fuel type: petrol, diesel etc.</li>
        <li>Spares: Fuel, bulbs, wheels...</li>
        <li>Breakdown cover?</li>
        <li>Return empty/full?</li>
      </ul>
    </ul>
    <li>Accomodation</li>
    <ul>
      <li>Huts - need to book in advance</li>
      <li>Caravans (take a kettle)</li>
      <li>Camping </li>
      <ul>
        <li>Ensure sufficient tents, sleeping bags, cooking equipment, fuel, loo paper, etc.</li>
        <li>Arrangements for water, toilets, showers, etc.</li>
      </ul>
    </ul>
    <li>Amenities</li>
    <ul>
      <li>Local? pub, gear shop, food shop, fuel station.</li>
    </ul>
    <li>Food</li>
    <ul>
      <li>Purchasing</li>
      <li>Vegetarians/Vegans/Allergies?</li>
      <li>Which meals?</li>
      <li>Quantity?</li>
      <li>Organiser</li>
    </ul>
    <li>Caves</li>
    <ul>
      <li>Suitability for likely trip members</li>
      <li>Any members been before?</li>
      <li>Groups:</li>
      <ul>
        <li>Number of novice & others.</li>
        <li>All together or in waves?</li>
        <li>Advance party to rig?</li>
      </ul>
      <li>Permits</li>
      <li>Parking</li>
      <li>Access route</li>
      <ul>
        <li>Farmers' requirements</li>
        <li>Detailed map + compass? (could be dark and/or snowing or foggy)</li>
      </ul>
      <li>Description</li>
      <ul>
        <li>Any special hazards?</li>
      </ul>
      <li>Survey / rigging topo</li>
      <li>Tackle requirements:</li>
      <ul>
        <li>    Ladders, Spreaders, Maillons, Hangers, Karabiners, Tethers, Slings, Braidline, Static Rope, Dynamic Rope, Slings, Tackle Sacks, etc.</li>
      </ul>
      <li>Nearest phone/area with signal</li>
      <li>Callouts</li>
      <ul>
        <li>Hut board/phone contact</li>
        <li>Know how to make a call-out (names, times, cars, caves, routes, etc.)</li>
        <li>Trips Book</li>
        <li>Expected time back and definite time back</li>
      </ul>
    </ul>
    <li>Finances:</li>
    <ul>
      <li>Standard meet fee?</li>
      <li>Deposits/full in advance?</li>
      <li>Gear set & lamp fees.</li>
      <li>Cancellation deadline.</li>
    </ul>
  </ul>

  <h2>Clothing & Equipment</h2>
  <ul>
    <li>Personal clothing and equipment:</li>
    <ul>
      <li>For cave:</li>
      <ul>
        <li>Essential: Under suit, Over suit, wellies/boots, helmet, lamp, socks/wet-socks, belt/harness, karabiner, cave food, survival bag, whistle, personal medication.</li>
        <li>Recommended: Gloves, kneepads, underwear</li>
        <li>If SRT: harness, D-maillon, Croll jammer, hand jammer, footloops, safety cord, cows tails, chest harness, kit bag?, maillons for safety cord & chest harness?</li>
      </ul>
      <li>Recommended for after cave: More food, drink (warm?), towel, warm clothes.</li>
    </ul>
    <li>Extra kit</li>
    <ul>
      <li>    Spare warm clothing (thermal top), spare slings, backup light, spare bulbs, pulley& spare oval karabina, spare food, drinking water.</li>
    </ul>
    <li>Group equipment</li>
    <ul>
      <li>Ladders, Spreaders, Maillons, Hangers, Karabiners, Tethers, Slings, Braidline, Static Rope, Dynamic Rope, Slings, spares for handlines etc, Tackle Sacks, First Aid kits, Waterproof paper + pencil, Backup lighting, Surveys/descriptions?, Map + Compass</li>
      <li>Tea/biscuits after cave for novices?</li>
    </ul>
  </ul>

  <h2>Trip Briefing</h2>
  <ul>
    <li>Is the cave entrance remote?</li>
    <li>How long is it?</li>
    <li>What are the difficulties? </li>
    <ul>
      <li>Are there climbs or traverses?</li>
      <li>Will it be necessary to use a rope or ladders?</li>
    </ul>
    <li>Is the trip a wet or dry trip? </li>
    <ul>
      <li>How much time will be spent in water?</li>
      <li>Will it be knee deep wading or will it be necessary to swim?</li>
      <li>Is the cave liable to flooding and what would be the effect of this?</li>
    </ul>
    <li>Who will lead the trip? What is their experience of caving and of the chosen cave in particular?</li>
    <li>Is there anybody with first aid skills present?</li>
    <li>Is there anybody with health problems likely to affect performance during the activity?</li>
    <li>What shall we do if there is an accident?</li>
    <li>What is the call out procedure?</li>
    <li>Do tell us if you become distressed or concerned during the trip.</li>
    <li>Access requirements</li>
    <li>The Country Code should be adhered to.</li>
    <li>Cave Conservation guidelines: NCA Conservation Code.</li>
    <li>Nature: One of the attractions of caving, potholing and exploration of abandoned mines is its adventurous nature. The accident rate in caving is thankfully low but from time to time serious and fatal accidents do occur. It is therefore important that beginners who seek to go caving are aware of and accept the element of risk and take responsibility for their own actions.</li>
    <li>Hypothermia is one of the main hazards and you need to make sure that proper precautions are taken to avoid its onset, i.e. proper clothing for the conditions to be encountered, staying dry if at all possible, eating properly before and during trips, ensuring that the pace and length of the trip is appropriate to the fitness of participants and avoiding long waits at ladder pitches etc. </li>
    <ul>
      <li>Symptoms include: </li>
      <ul>
        <li>sufferer becomes quiet, lacks interest, becomes slow and starts lagging behind</li>
        <li>mental deterioration</li>
        <li>uncharacteristic behaviour</li>
        <li>loss of faculties, e.g. slurring of speech shivering</li>
        <li>loss of consciousness</li>
        <li>breath smells of acetone</li>
      </ul>
    </ul>
    <li>Party members should be aware of what actions to take should any party member exhibit the symptoms of hypothermia.</li>
  </ul>

  <h2>Meet Acounting</h2>
  <p>Meet leaders shall provide the following information to the Treasurer, no later than four weeks after the meet has happened: </p>
  <ul>
    <li>Dates</li>
    <li>Destination</li>
    <li> Name and surname of attendees</li>
    <li> Expenses </li>
    <ul>
      <li>Who</li>
      <li>What</li>
      <li>Amount</li>
    </ul>
    <li> Meet fee type: normal or driver</li>
    <li> Rented gear </li>
    <ul>
      <li> Days of rented harness</li>
      <li> Days of rented full SRT gear</li>
      <li> Days of rented oversuit, undersuit and helmet</li>
      <li> Days of rented light</li>
      <li> Amount to be charged to attendee</li>
      <li> Amount paid by attendee</li>
      <li> Date of payment</li>
      <li> Form of payment: cheque, cash or transfer</li>
    </ul>
  </ul>
{% endblock %}

{% block side-content %}

{% endblock %}
