{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Misc | NCA Guidelines</title>
{% endblock %}

{% block main-content %}
  <h1>CUCC and the NCA Guidelines</h1>
  <p>These guidelines have been prepared in response to a large number of requests to the National Caving Association (NCA) from university and college caving clubs and authorities for a code or set of guidelines that they can use to promote safe caving.</p>
  <p>There is a broad range of university or college based clubs in the country ranging from the well established and respected with a good continuity of members and experience to those with enthusiasm but with a less experienced membership. In many clubs it is the large annual change of membership that, in the main, causes problems.</p>
  <p>Caving by university and college caving clubs should be seen as fitting into the tradition of British caving and the established principles of good practice to ensure both safety and concern for the cave environment. These guidelines should be seen as suitable for any group of cavers seeking to establish a caving club or an existing club of recent formation or with members of relatively little experience.</p>
  <p>It is the adventurous nature of caving, potholing and the exploration of abandoned mines that is one of its attractions. The accident rate in caving is thankfully low but from time to time serious and fatal accidents do occur. It is therefore important that beginners who seek to go caving are aware of and accept the element of risk and take responsibility for their own actions.</p>
  <p>Traditionally the NCA sees formal leadership systems as undesirable in recreational caving conducted by adults, which should have as its essence, individual competence and the companionship of friends unfettered by unnecessary rules and regulations.</p>
  <p>It is therefore the intention of these guidelines to set down a broad framework for the establishment and operation of university and college clubs within the informal environment of recreational caving.</p>

  <h1>Caving Safety</h1>

  <h2>General Points for Consideration</h2>
  <ul>
    <li>Clubs should be properly constituted. It would be helpful to encourage ex-students to remain in the club to help provide a depth of experience which otherwise can fluctuate dramatically.</li>
    <ul>
      <li>CUCC has several members who graduated several years ago but live in the Cambridge area. In addition, there is a greater number who remain in contact through the Ex-Cambridge Speleologists group.</li>
    </ul>
    <li>Clubs should join their appropriate regional caving council and seek to form an association with a club or clubs local to each area they visit, to seek help and advice as necessary. This can often be done with clubs who can offer accommodation in their own hostels.</li>
    <ul>
      <li>CUCC is a member of the NCA and the Council of Northern Caving Clubs (CNCC). Although we have no formal associations with individual caving clubs, some of our members are also members of other clubs. Use is often made of the caving hut accomodation offered by other clubs.</li>
    </ul>
    <li>Clubs may wish to appoint a "caving advisor" if they have concern about the experience, equipment or safety standards of their club. The NCA can advise on suitable people (usually CIC holders) to undertake this role.</li>
    <ul>
      <li>CUCC uses the experience of its older members in this role. See also notes on training below.</li>
    </ul>
    <li>It is the adventurous nature of caving, potholing and the exploration of abandoned mines that is one of its attractions. The accident rate in caving is thankfully low but from time to time serious and fatal accidents do occur (usually attracting a large amount of publicity). It is therefore important that beginners who join clubs are aware of this element of risk. The relatively low rate of accidents should not be allowed to give rise to any sense of complacency, indeed a disproportionate number of rescue call-outs are to assist members of those clubs with least experience and in most need of a set of guidelines.</li>
    <li>Club members should ensure that they understand the following points and if they do not they should be encouraged to ask questions of the more experienced members before agreeing to go on trips. More experienced members should take responsibility for ensuring that everyone is properly briefed for the trip. Experienced members who choose to take on responsibility for beginners should be aware of what this involves.</li>
    <li>Note: Qualifications for leaders such as the NCA Cave Instructor Certificate (CIC) or Local Cave/Mine Leader Assessment (LCMLA) schemes were not intended for recreational caving and are not considered appropriate within the club environment. However, the syllabuses are excellent guides to training and standards of personal competence within the club environment.</li>
    <ul>
      <li>CUCC has requested a copy of the syllabuses from the NCA Training Officers. </li>
    </ul>
  </ul>

  <h2>Preparation for a Trip</h2>
  <ul>
    <li>When the party contains novices the leaders of the party should be familiar with the cave to be visited. Party size and the ratio between competent and less experienced members should be considered. When all party members are experienced but are unfamiliar with the cave to be visited local advice should be sought in addition to guidebook or survey information. Survey or guidebook information should be taken underground.</li>
    <ul>
      <li>CUCC trips involving novices have one designated leader with previous experience of the cave and usually more than a year of membership. Trips where novices outnumber more experienced cavers by more than 3:1 are strongly discouraged, as are trips with fewer than an experienced leader and seconder. </li>
    </ul>
    <li>The weather forecast, information about previous wet weather, stream levels, risk of flooding and local advice on how the cave reacts to rainfall should all be obtained before going underground. If in doubt stay out and do not be afraid to turn back if conditions appear dangerous. The caves will still be there for another day.</li>
    <ul>
      <li>CUCC adheres to this; guidebooks are always consulted before each trip if there is any doubt. </li>
    </ul>
    <li>A destination note giving adequate details of the trip, i.e. party members, name of the cave, proposed route and time of return should be left with a responsible person who knows how to call-out the rescue team if necessary. This person needs to be informed when all party members are safely out of the cave.</li>
    <ul>
      <li>CUCC use the call-out boards provided by caving huts, arrangements specific to a particular cave system, and/or telephone contacts. The use of the 'recursive call-out' is discouraged.</li>
    </ul>
    <li>All members should be aware of hypothermia, its causes, symptoms and treatment. However prevention is the best strategy, i.e. be well fed, wear adequate clothing and stay dry if possible.</li>
    <li>All members of the party should know what to do in the event of an accident, including rescue call-out procedure. The usual procedure is to call the Police and ask for Cave Rescue, give the information required and then to stay by the telephone until instructed otherwise. Each party should include persons who are first aid trained.</li>
    <li>Technical skills such as lifelining, laddering, abseiling or SRT must be practised on the surface before going underground.</li>
    <ul>
      <li>Practice sessions are held above ground in Cambridge.</li>
    </ul>
  </ul>

  <h2>Safety During a Trip</h2>
  <ul>
    <li>The caves to be visited should be appropriate to the experience of all members of the party.</li>
    <li>Leaders should give a group briefing prior to departure covering all aspects of the trip (e.g the route and features of the cave) and make a check of clothing and equipment.</li>
    <ul>
      <li>CUCC has prepared a Checklist to assist in this process.</li>
    </ul>
    <li>Party leaders should be aware of the least able members of the party and should always consider that they may get tired or cold more quickly; never be afraid to turn back for reasons of safety. A trip should never be considered as a failure if the objective is not reached, it will be there for the next visit. Party leaders should be responsive to all members of the party, alert them to dangers, safeguard them against hazards and protect by lifeline, handline or some other method in places where a slip could result in injury.</li>
    <ul>
      <li>In addition to normal tackle, a spare sling or short length of rope will often be carried for use as an impromptu handline. However, members must take care: the absence of a handline or other aid does not imply the absence of danger: a slip anywhere has the potential to cause injury, even walking along a road.</li>
    </ul>
    <li>Appropriate clothing is essential, especially in wet caves, all party members should ensure that they are adequately dressed for the proposed trip. When deep water is to be negotiated by wading or swimming appropriate clothing should be worn to reflect this. Drowning is not an uncommon form of death in caves and buoyancy aids may need to be worn. Some types of clothing hold large amounts of water making movement difficult. Party leaders should always consider whether the less experienced are appropriately dressed; jeans, tee shirts and trainers are never suitable clothing under any conditions. Each party member should have a suitable helmet, and lighting which leaves both hands free.</li>
    <li>Emergency equipment should be carried. Personal responsibility should be encouraged for items such as spare lighting, survival bag, whistles and food being carried by individuals with first aid kits and writing material for the whole party taken underground in suitable containers.  In the event of an emergency, the basic essentials may be vital.</li>
    <ul>
      <li>CUCC members borrowing gear from CUCC receive a full set of suitable caving clothing.</li>
    </ul>
    <li>Anyone lifelining on ladder pitches should have basic competence but should also be able to deal with basic problems which might include a tired person with a leg through a ladder rung or a party member becoming jammed whilst abseiling with hair, clothing or helmet chin strap stuck in descender.</li>
    <ul>
      <li>See notes on training below.</li>
    </ul>
  </ul>

  <h2>Other Points to be Considered</h2>
  <ul>
    <li>Rigging for laddering or SRT involves understanding the strengths and safe use of components, traverse lines, fall factors, shared loading of anchor points in the main anchors and never trusting a single bolt.</li>
    <li>Clubs worried about the level of their members' training and experience should organise with their regional caving council, the NCA or an appropriate CIC holder, training courses specific to their needs. Details of CIC holders are available from the NCA Training Officer whose address is given below. In particular three fundamental areas of skills training which are likely to require some element of external input are: Vertical Caving Techniques, Pitch Rigging Techniques, Self Rescue and Survival Skills</li>
    <ul>
      <li>CUCC has long operated a satisfactory system whereby new members can learn from members with several years' experience. However, to counter the 'chinese whispers' effect and help foster awareness within the club of modern caving best-practice, we are hoping to send some members on any NCA training courses which may be organised in the future, funds permitting.</li>
    </ul>
  </ul>

  <h1>Access</h1>
  <p>Caves are more often than not located in upland areas and away from public footpaths. Access to them involves crossing private land and the caves and potholes are themselves private property. It is only with the consent of owners or tenants that cavers can explore the majority of caves. This consent has often only been obtained after long negotiation and with conditions attached. It is therefore important that access procedures should be adhered to. These are described in the handbooks of the regional caving councils and in guidebooks. Access to some entrances may require knowledge of navigation techniques and maps which, at times, may have to be practiced in darkness or adverse weather conditions.</p>
  <p>The Country Code should be adhered to.</p>

  <h1>Conservation</h1>
  <p>Caves are a unique and very special part of our natural environment. Because of their slow and gradual formation over many thousands of years, fantastic passage shapes develop, breakdown occurs, sediments are deposited, beautiful calcite formations build up, and various creatures find a home. To be the first to enter such a place is an experience unlikely to be forgotten, but unfortunately one that only a few people will be privileged to enjoy.</p>
  <p>Once a cave has been entered a process of deterioration begins. Sometimes this is extremely rapid, but usually it is steady and barely noticeable. Whatever happens, the end result is the same, a place retaining little aesthetic value and interest. Such destruction is a crime against nature and there is a moral responsibility on the part of everyone using this environment for their enjoyment, whatever their motivation and purpose, to ensure its preservation for others.</p>
  <p>It is therefore essential that respect for the conservation of the underground environment should be encouraged on all trips. All cavers whether novice or experienced should be aware of and adhere to the NCA Conservation Code.</p>

  <h1>Equipment</h1>
  <ul>
    <li>All equipment for traverses, ladder pitches and SRT should be suitable and in good condition. Advice on the selection, use and maintenance of equipment may be sought from specialist caving shops, technical catalogues or the NCA. A suitable system of cleaning and storage of these items after trips should be put in place.</li>
    <ul>
      <li>Details of CUCC's Tackle Store can be found <a href="{% url 'AboutTackleStore' %}">here</a>.</li>
    </ul>
    <li>A system of regular inspections, testing and discarding of items that have been damaged or are at the end of their safe life should be put in place. This should cover all safety items i.e. ropes, ladders, slings, lights, helmets etc. Written records should be kept which will require the individual identification of key safety items, e.g. ropes.</li>
    <ul>
      <li>A separate document describes the operation of the Tackle Store. Basically, ropes are washed and inspected between each weekend away from Cambridge. Any rope where significant damage is found has the damaged section cut out. Where damage to a rope is noticed during use, a knot will be tied to remove the damaged section from use. This knot is left so the rope inspection team will find the damage more easily. All ropes are discarded after 5 years, or earlier if they show excessive wear.</li>
    </ul>
  </ul>

  <h1>Liability</h1>
  <ul>
    <li>Cavers should remember that they owe a duty of care to other cavers in their own party and people that they meet in the course of their trip. Leaders should be aware that they have a special responsibility to act prudently when leading novices. Information on caving insurance can be obtained from the addresses given below.</li>
    <ul>
      <li>All CUCC members (including novices on trial membership) are covered by the third party BCRA insurance.</li>
    </ul>
  </ul>

{% endblock %}

{% block side-content %}
  <p></p>
  <a href="{% url 'AboutConstitutionSafety' %}">Back to the Constitution and Safety Page</a>
{% endblock %}
