{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Misc | Novice Caver Checklist</title>
{% endblock %}

{% block main-content %}
  <h1>Novice Caver Checklist</h1>

  <h2>Gear Required for Caving</h2>
  <p>All caving-specific gear can be borrowed from CUCC, but there are a few less technical items that you'll need to bring on meets. </p>

  <h3>Essentials</h3>
  <ul>
    <li> Warm clothes for normal wear</li>
    <li> Raincoat</li>
    <li> Robust trainers/boots for normal wear</li>
    <li> Old underwear and socks for wearing in the cave</li>
    <li> Old T-shirt/vest for underneath a furrysuit. Cotton is not ideal as it keeps you cold when wet; a rash vest or thermal top is better</li>
    <li> Cave food (e.g. a few Mars or Snickers bars, for when you need a sugar fix)</li>
    <li> Towel</li>
    <li> Sleeping bag (CUCC have a few sleeping bags that can be borrowed)</li>
    <li> Money for food when travelling & more chocolate supplies</li>
  </ul>
  <p><i>Experience: have attended SRT training if possible. Knowledge: what's the plan for this meet? Communication: tell meet leaders of medical things, ask if unsure of anything, be briefed before going underground. </i></p>

  <h3>Caving-specific</h3>
  <ul>
    <li>Undersuit</li>
    <li>Oversuit</li>
    <li>Wellies</li>
    <li>Helmet</li>
    <li>Lamp</li>
    <li>Belt or Harness</li>
    <li><i>(Only for trips requiring Single Rope Technique)</i> SRT kit: harness, cowstails and two karabineers, safety cord, footloop, stop, hand jammer, chest jammer, central maillon, dangly bag to keep all together</li>
    <li><i>(Should have...)</i> Karabiner, survival bag, whistle</li>
  </ul>
  <p>All of this can be borrowed from the CUCC. Please see <a href="{% url 'AboutMeetsFormatCost' %}">About Meets: Format & Costs</a> for more info.</p>

  <h3>Should Have</h3>
  <ul>
    <li> Wash kit: toothbrush, toothpaste, soap, etc. (Or just don't wash!)</li>
    <li> Second pair of old underwear & socks for wearing in the cave the next day (putting on dry underwear is more pleasant)</li>
    <li> Cave gloves (e.g. washing-up gloves). Although some people claim it's warmer to not wear gloves</li>
  </ul>

  <h3>Nice to Have</h3>
  <ul>
    <li>Thermal top</li>
    <li>Head toch (for outside the cave, around the hut)</li>
  </ul>
  <p>If you become a regular caver with CUCC you'll eventually want to purchase your own set of gear; it's best to ask club members for advice on what will suit you best, as there are lots of products available. Muddy caving gear, especially metal work, all looks similar so you will need to mark your stuff with a unique colour combination, or label it with your name. Look at the <a href="{% url 'GearTape' %}">gear tape colours</a> list to see which colour combinations are currently in use, before choosing your own. </p>

  <h3>IMPORTANT: Gear Return</h3>
  <p>Borrowed gear should be returned as soon as possible, and before the next training session or meet. Gear should be washed before it is returned and not left in a muddy pile to accumulate rust and mould. Upon returning any gear, please tick the gear off in the gear logbook (usually on top of the filing cabinet in the tackle store). </p>
{% endblock %}

{% block side-content %}

{% endblock %}
