{% extends 'Ardeche/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Ardeche | Aven de Agas</title>
{% endblock %}

{% block main-content %}
  <h1>Aven de Agas</h1>
  <h2>How to get there</h2>
  <p>Very close to the road. Drive through Mejannes-le-clap, taking the road toward la Salamndre. Almost immediately after leaving the village park on the right hand side in a large layby. of the road, the path on the left hand side of the road leads to the cave (~20m from road) surrounded by a fence.</p>

  <h2>Equipment</h2>
  <p>All on P-hangers. Ropes 70m + 100m + 20m (that we didn't take). about 40m for pitch leading to the sump (was prerigged by divers). Some deviations helpful. </p>

  <h2>Description</h2>
  <p>Rigging starts with easy to spot Y-hang, continues down obvious hole towards first small-ish chamber. </p>
  <p>Side passage leads to a small side-chamber with a small pitch (that supposedly connects to the main series). </p>
  <p>Back in the small-ish chamber continue down using 100m rope. Pitch series with easy to spot P-hangers leads down. One of two routes can be taken. More direct one in the main pitch or in the parallel one accessible via small pendulum (both P-hangers). </p>
  <p>This leads to a floor followed by small drop (about 20m) that was pre-rigged by divers. </p>
  <p>Bottom chamber has one obvious exit, one freeclimb leading nowhere and one hard to spot hole about 3m above the ground that's the end of a loop. </p>
  <p>Go up a greasy tube to a junction, one well travelled path goes to section labelled 'meandres' on the survey. This area is quite squeezy and contains one pitch with no bolts at all, one with visible bolt climb and preriged rope (unexplored) and continues via series of progressively more tight squeezes towards main chamber. Possible pullthrough from the end using some vaguely ok stals on the right gets you back on the floor in the main chamber (20 min). </p>
  <p>At a juncion above the greasy tube use crawl folding on itself to reach traverse line (over unexplored pitch) continuing to a tube that ends at pitch-head. About 40m prerigged rope single hang going to a floor a step away from the sump. </p>
{% endblock %}
