{% extends 'Ardeche/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Ardeche | Grotte du Barry</title>
{% endblock %}

{% block main-content %}
  <h1>Grotte du Barry</h1>
  <h2>How to find it</h2>
  <p>From Barjac take the road heading for Bagnole-sur-Cèze (D901) and turn right onto the D266 heading for les Mas de la Cabane. At the junction shortly afterwards, continue along the D266 to le Mas (also signposted to the la Sablière campsite) and head through the village. Leaving the village, watch out for a small sign to a chapel pointing to the right. Take this turning and pass by a turning to a house on the left. At this point there is a "no through road" sign. Continue down the track, past the cross on the right, until you go around a left-hand bend. After a while you go around another left-hand bend; just afterwards park where a path leads off up the hill to the right. Following this for a couple of minutes leads directly to the cave entrance. </p>

  <h2>Description</h2>
  <p>Follow your nose to a chamber with plaques on the wall; continuing leads to further large passage containing a fine "organ pipe" formation on the right and a large column. Down to the right a pitch (at least 50m rope required and probably significantly more to get right to the bottom) leads down to further passages (not explored) with impressive helictites. Straight ahead, climbing over a pool leads to a large passage with impressive columns. Shortly before a greasy, awkward climb at the end, retrace your steps slightly and head up to the right over flowstone. Climbing up here brings one into an upper level. (To the left, a climb up leads to the top of the aforementioned greasy climb. From here a slope leads upwards to an impressive vantage point.) Straight ahead leads to an upwards-sloping passage; to the right a hole through leads through into a chamber with a ceiling containing good stal formations. </p>
{% endblock %}
