{% extends 'Ardeche/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Ardeche | Grotte de Bunis</title>
{% endblock %}

{% block main-content %}
  <h1>Grotte de Bunis</h1>
  <h2>How to find it</h2>
  <p>Follow track past the parking point for <a href="{% url 'ArdecheBarry' %}">Grotte du Barry</a> to reach a parking space on the right just before a left-hand bend. Follow the path from the back of the parking space (a little overgrown in places) to reach a large entrance, with earth slope leading down, which is slightly concealed in the trees on the right of the track. </p>
{% endblock %}
