{% extends 'Ardeche/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Ardeche | Aven du Camilie</title>
{% endblock %}

{% block main-content %}
  <h1>Aven du Camilie</h1>
  <h2>How to get there</h2>

  <h2>Equipment</h2>
  <ul>
    <li>1st pitch: 50m 10MR 2 hangers</li>
    <li>2nd pitch: 25m 4MR (tobogan, rope optional)</li>
    <li>3rd pitch: 50m 8MR</li>
    <li>4th pitch: 25m 5MR</li>
  </ul>
  <p>There is a 5th pitch (permanently rigged as of 2018) which gives access to a lower series of narrow crawls---for completists only! </p>

  <h2>Description</h2>
  <p>aka Hole in the Field </p>
{% endblock %}
