{% extends 'Ardeche/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Ardeche | Aven Centura</title>
{% endblock %}

{% block main-content %}
  <h1>Aven Centura</h1>
  <h2>How to get there</h2>
  <p>From the parking spot for <a href="{% url 'ArdecheReynaud' %}">Aven Reynaud</a>, drive back towards Aven Marzal for about 100m, watching out for a small path through the trees on the left. Follow the path through the clearing, and then turn to the right, reaching the hole shortly afterwards. One can climb around to the right to peer over the edge of a rock bridge. Most impressive. </p>

  <h2>Warning</h2>
  <p>The pothole is known for quantities of carbon dioxide. </p>
{% endblock %}
