{% extends 'Ardeche/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Ardeche | Grotte des Châtaigniers</title>
{% endblock %}

{% block main-content %}
  <h1>Grotte des Châtaigniers</h1>
  <h2>How to find it</h2>
  <p>From Vallon Pont d'Arc, follow the Ardèche gorge road (D290) eastwards, passing through the tunnels. After a while, the road bends to the left next to an Aubèrge and a grassy area, and then round to the right where, on the right, there is a large parking area next to a snack bar "le Grillade". (If you reach the point affording a good view of the east side of the arch, you have gone too far.) Directly behind the snack bar, a path leads steeply up the hill (leftward, as you look at the hill), arriving at the cave entrance - a vertical slot with a few (unnecessary) spits at the base of an outcrop - after a few minutes. </p>
  <p>There are many paths on this hill - some going up to the viewpoint on top (to look down on the arch), and indeed the path over the arch commences here. It is easy to miss the one with the cave - you should not have to ascend very much - 20m vertical at most. Any more than 20m, and you are not on the right path. </p>

  <h2>Description</h2>
  <p>See Speleo Sportive en Ardèche. Be prepared for a bit of mud. One doesn't need to rig the P11 for the normal trip; however, the E10 (10m climb) marked in the book as leading to the rest of the cave is very difficult to ascend when not pre-rigged - two trips have been stopped by this already. The 2005 trip made it up the climb on rigged rope (indeed the whole cave was rigged), but wibbled at the traverse at the top of the climb. It was rigged on 9mm, and a stout 10m 11mm belay would have been much more inspiring. While the way to do the traverse initially appears to consist of traversing _above_ the (fixed?) rope, standing on a downward sloping ledge, the correct height is 1.5m below the rope, using the afore mentioned ledge as a handhold. It remains rather exposed however... </p>
{% endblock %}
