{% extends 'Ardeche/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Ardeche | Aven de Chazot</title>
{% endblock %}

{% block main-content %}
  <h1>Aven de Chazot</h1>

  <h2>How to find it</h2>
  <p>Park on bend (with three large rocks and an old section of road) between 25 and 26km markers on the D4 from Vallon to St Remeze. Two parallel tracks lead into the woods; take the right-hand one to arrive at the fenced hole after a short walk. </p>

  <h2>Description</h2>
  <p>Pitch from surface looks about 20m. No further details. </p>
{% endblock %}
