{% extends 'Ardeche/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Ardeche | Aven de la Chèvre</title>
{% endblock %}

{% block main-content %}
  <h1>Aven de la Chèvre</h1>

  <h2>How to find it</h2>
  <p>From <a href="{% url 'ArdecheVigneClose' %}">Aven de la Vigne Close</a> description at point marked (*), continue along main track. Take the left at the next fork (easy to miss on the return). After about 100m there is a small path on the right marked with a red spot. Follow the path, which is marked with cairns and red spots, to eventually lead to the cave, a fairly large hole with impressive rattle concealed in the trees. </p>

  <h2>Description</h2>
  <p>Pitch is apparently about 15m to a boulder slope which can be climbed. </p>
{% endblock %}
