{% extends 'Ardeche/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Ardeche | Grotte de la Cotepatiere</title>
{% endblock %}

{% block main-content %}
  <h1>Grotte de la Cotepatiere</h1>

  <h2>How to get there</h2>
  <p>Near Saint-Paul-Le-Jeune, drive out the back of Chadouillet down a track over a bridge to reach the parking spot, walk along dry river bed. </p>

  <h2>Equipment</h2>
  <p>no gear required </p>

  <h2>Description</h2>
  <p>Horizontal cave with stemples at entrance, boats near end. </p>
{% endblock %}
