{% extends 'Ardeche/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Ardeche | Grotte du Derocs</title>
{% endblock %}

{% block main-content %}
  <h1>Grotte du Derocs</h1>

  <h2>How to get there</h2>

  <h2>Equipment</h2>
  <p>None</p>

  <h2>Description</h2>
  <p>3 entrances, closed during winter due to bats (until 15 April), cross the stone bridge at the bottom of La Combe at the pumping station turn left and follow the track, just before the end of the field turn right up the hill, the path splits to the left and contours around to the first entrance, the other entrances can be found by following the path along the river until it ascends to a large horizontal opening. </p>
{% endblock %}
