{% extends 'Ardeche/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Ardeche | Aven de Noel</title>
{% endblock %}

{% block main-content %}
  <h1>Aven de Noel</h1>
  <p>Excellent trip. Only one trip permitted per week and this must be reserved some months in advance. </p>

  <h2>How to find it</h2>
  <p>St Remeze - D201 - D690 - D290. Turn left and continue for 200m, then turn right into Le Mazet camping site. Continue down the tarmaced drive until it runs out at the camp site. At this point, continue straight on along the track, going up a slight rise, along a bit, downward slightly, and then you encounter a bend to the left of around 70 degrees (this is around 600m from the camp site). Park on this bend, then take the track on the right that doubles back from the parking area. It procedes over a small amount of limestone pavement (after around 15m), and after a further 30m or so the lidded entrance is gained. </p>
{% endblock %}
