{% extends 'Ardeche/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Ardeche | Event de Peyrejal</title>
{% endblock %}

{% block main-content %}
  <h1>Event de Peyrejal</h1>

  <h2>How to find it</h2>
  <p>On the D901 road leading eastwards from St Paul-le-Jeune towards St-Andre-de-Cruzieres, take the dirt track to the right just beyond the 10km milestone. Follow the track until it splits and take the left fork, to quickly arrive at a parking space. To reach the entrance, continue along the main track until you reach a stone wall; cross over this straight ahead into an olive plantation. Keep heading straight on until you reach an area of pine trees and limestone pavement. The entrance---a round manhole covered by a hinged metal grille---is situated a short distance into the area of trees, slightly to your right as you walk in. </p>

  <h2>Rigging</h2>
  <p>The first pitch is rigged from 2 spits, with an immediate rebelay from the rim of the entrance tube. It is narrow, but opens out at the bottom. Here, turn right to get to the second (arrows marked on wall); there is another pitch straight ahead but it closes down. 50m of rope is insufficient to get down from the surface to the bottom of the second pitch; according to <a href="http://cds73.org/mini-camp-edsc73-ardeche-jour-3-event-de-peyrejal-merveilles/">this French page</a>, one needs 100m for the entrance series altogether. </p>

  <h2>Description</h2>
  <p>There is a rather bad survey, and a description with a paragraph missing, in Speleo Sportive en Ardeche. </p>
  <p>The entrance series emerges into a spacious streamway. Right (downstream) leads quickly to a sump. The main passages are upstream to the left. </p>
  <p>At the first major junction, the left branch leads to the "Reseau Sauvas", which begins with a couple of brief flat-out crawls over flowstone before opening out again to a walking-size phreatic passage. This ends eventually to a sump leading in the direction of the Goule de Sauvas. </p>
  <p>The main streamway continues onwards for some distance, with a couple of small climbs up and down (one with spits in place for a handline). This system is confusing, with numerous side passages and oxbows. Somewhere in this direction is the "Reseau Mathieu", where there are a couple more short pitches, but the 2018 trip did not succeed in locating these. </p>
{% endblock %}
