{% extends 'Ardeche/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Ardeche | Aven Reynaud</title>
{% endblock %}

{% block main-content %}
  <h1>Aven Reynaud</h1>

  <h2>How to find it</h2>
  <p>Drive southwards along the D590 from Aven Marzal, looking out for a small track on the left, marked Privé and having a chain across it. Directly opposite, take the small track through the trees (slightly overgrown in places) to arrive at the entrance, a modestly-sized shaft in the ground, shortly afterwards. </p>
  <p>Also see <a href="{% url 'ArdecheCentura' %}">Aven Centura</a> which is nearby. </p>

  <h2>Warning</h2>
  <p>The pothole is well-known for carbon dioxide; reports indicate that this has been encountered even partway down the entrance shaft. </p>
{% endblock %}
