{% extends 'Ardeche/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Ardeche | Aven Richard</title>
{% endblock %}

{% block main-content %}
  <h1>Aven Richard</h1>

  <h2>How to find it</h2>
  <p>From Vigne Close turning, continue S until the next bend, where there is a widening and a track leading off on the left. Continue along the road for a very short distance; on the left is a small path through the trees marked with a couple of bits of flagging tape. Follow path to arrive very quickly at the hole. Looks impressive. </p>

  <h2>Details</h2>
  <p>Pitch is around 25-30m. Followed by small draughting hole which could be dug? </p>
{% endblock %}
