{% extends 'Ardeche/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Ardeche | Aven de Rochas</title>
{% endblock %}

{% block main-content %}
  <h1>Aven de Rochas</h1>

  <h2>How to get there</h2>
  <p>Park at the Balcony Gournier on the gorge road. Walk along the road (heading back towards Vallon). Take the track down to the Bivouac under a bridge. At the first sharp right hand turn take the path on the left, follow this to some cliffs and a entrance 3m high 5m wide which closes down to a flat out crawl before emerging in a finely decorated chamber. </p>

  <h2>Equipment</h2>
  <p>1st pitch 50m 6 spits 2nd 60m 6 spits 3rd 80m 8 spits Lac 40m 8 spits 4 slings </p>

  <h2>Description</h2>
  <p>At the rear of the chamber is the start of the first pitch. Note all pitches are rigged on spits and threads (additional cord recomended), no P hangers (2018) At the bottom of the 3rd pitch a climb down near to the bottom of the pitch leads to the base of a steep slope, on the left is a rift with a U bend, in 2018 we found this to be sumped. </p>
{% endblock %}
