{% extends 'Ardeche/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Ardeche | Aven de Rosa</title>
{% endblock %}

{% block main-content %}
  <h1>Aven de Rosa</h1>

  <h2>How to find it</h2>
  <p>Follow <a href="{% url 'ArdecheChevre' %}">Aven de la Chèvre</a> description but don't turn up path marked with red spots. Continue until the next major track on the right; go down here until it starts to bend round to the right. On the left you can walk through into an area of limestone; from here turn left again to reach another limestone area containing two cairns. The further cairn has a stick attached pointing to the hole, which is concealed in the trees just beyond the cairn. The hole itself is really small and not visible until you are literally right on top of it! </p>

  <h2>Warning</h2>
  <p>Likely to have high levels of carbon dioxide -- take care. </p>
{% endblock %}
