{% extends 'Base.html' %}
{% load static %}

{% block side-content %}
  <p></p>
  <a href="{% url 'AboutTripsAbroad' %}">Back to Trips Abroad page</a>
  <h2>Index of Ardeche Caves</h2>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheAgas' %}">Aven de Agas</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheBarry' %}">Grotte du Barry</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheBunis' %}">Aven de Bunis</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheCamilie' %}">Aven du Camilie</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheCadet' %}">Aven du Cadet</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheCentura' %}">Aven Centura</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheChampclos' %}">Fontaine de Champclos</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheChataigniers' %}">Grotte des Châtaigniers</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheChazot' %}">Aven de Chazot</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheChenivesse' %}">Aven de Chenivesse</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheChevre' %}">Aven de la Chèvre</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheCombeRajeau' %}">Aven de la Combe Rajeau</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheCourtinen' %}">Aven de Courtinen</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheCotepatiere' %}">Grotte de la Cotepatiere</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheDragonniere' %}">Dragonniere</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheDerocs' %}">Grotte du Derocs</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheFauxMarzal' %}">Aven Faux Marzal</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheFontlongue' %}">Aven de Fontlongue</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheFoussoubie' %}">Goule de Foussoubie</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheGauthier' %}">Aven de Gauthier</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheGrandBadingue' %}">Aven du Grand Badingue</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheGregoire' %}">Aven Gregoire</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheMarteau' %}">Aven du Marteau</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheChampclos' %}">Aven du Mont Blanc</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheNeufGorges' %}">Aven des Neuf Gorges</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheNoel' %}">Aven du Noel</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdechePebres' %}">Aven des Pebres</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdechePeyrejal' %}">Event de Peyrejal</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheReynaud' %}">Aven Reynaud</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheRichard' %}">Aven Richard</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheRochas' %}">Aven de Rochas</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheRosa' %}">Aven de Rosa</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheRouveyrette' %}">Aven de la Rouveyrette</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheStMarcel' %}">Grotte de St. Marcel</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheStMarcel' %}">Aven Déspeysse</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheVarade' %}">Aven du Varade</a>
  <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ArdecheVigneClose' %}">Aven de la Vigne Close</a>
  <p></p>
{% endblock %}
