{% extends 'Ardeche/SideBar.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Ardeche | Aven de la Vigne Close</title>
{% endblock %}

{% block main-content %}
  <h1>Aven de la Vigne Close</h1>

  <h2>How to find it</h2>
  <p>From parking for <a href="{% url 'ArdecheReynaud' %}">Aven Reynaud</a>, follow road until GR4 track is seen heading off to the left (red/white stripe). Turn in; parking shortly afterwards on left. Follow track to first junction; take left fork. Some distance on (*) there is an obvious track on the left, marked high up with a sign with "Vigne Close" in feint writing. Take the track; a small fork goes off on the right, but follow the main track to suddenly arrive at the hole in a copse. </p>

  <h2>Details</h2>
  <p>See <i>Speleo Sportive en Ardèche</i>. Apparently there are three parallel shafts at first and one needs to follow the right one! </p>

  <h2>Warning</h2>
  <p>High levels of carbon dioxide occur near the bottom. </p>
{% endblock %}
