{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Blog | Write Post</title>
{% endblock %}

{% block main-content %}
  <h1>Write Blog Post</h1>
  <form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <table class="w3-table w3-striped">
  {{ postForm.as_table }}

  {{ formset.management_form }}
  {% for form in formset %}
      {{ form.as_table }}
  {% endfor %}
  </table>
  <button class="w3-button w3-theme-d3 w3-hover-black" type="submit">Submit</button>
  </form>




{% endblock %}

{% block side-content %}
{% endblock %}
