<!-- Must have paginated post_list object in parent -->

{% if post_list %}
  <table class="w3-padding-16 w3-table w3-striped">
    {% for p in post_list %}
      <tr><td>
        {% if p.images.exists %}
          <div class="w3-container w3-twothird w3-cell w3-mobile">
            {% endif %}
              <h2>{{ p.title }}</h2>
              <p style="white-space: pre-wrap;">{{ p.text }}</p>
              <p class=w3-small><i>-- {{ p.author.full_name }}, {{ p.published_date.date }}. Category: {{ p.category }}</i></p>
            {% if user == p.author or user.is_superuser %}
              <span class="w3-container">
                <a class="w3-button w3-block w3-theme-d4 w3-hover-black w3-half w3-center" href="{% url 'BlogEdit' pk=p.pk %}">Edit</a>
                <a class="w3-button w3-block w3-theme-d4 w3-hover-black w3-half w3-center" href="{% url 'BlogDelete' pk=p.pk %}">Delete</a>
              </span>
            {% endif %}
          </div>
          {% if p.images.exists %}
          <div class="w3-center w3-container w3-third w3-cell w3-mobile">
            {% for i in p.images.all %}
              <img class="w3-image" src="{{ i.image.url }}" alt="{{ p.title }} - {{ i.name }}">
              {% if user == i.owner or user.is_superuser %}
                <span class="w3-container">
                  <a class="w3-button w3-block w3-theme-d4 w3-hover-black w3-half w3-center" style="text-align: left" href="{% url 'ImageEdit' pk=p.pk %}">Edit</a>
                  <a class="w3-button w3-block w3-theme-d4 w3-hover-black w3-half w3-center" style="text-align: left" href="{% url 'ImageDelete' pk=p.pk %}">Delete</a>
                </span>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </td></tr>
    {% endfor %}
  </table>

  {% if is_paginated %}
    <div class="pagination w3-center w3-padding">
      <span class="page-links">
          {% if page_obj.has_previous %}
            <a class="w3-button w3-hover-black" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
          {% else %}
            <span class="disabled w3-button">&laquo;</span>
          {% endif %}
          {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
              <span class="active w3-button w3-black">{{ i }} <span class="sr-only">(current)</span></span>
            {% else %}
              <a class="w3-button w3-hover-black" href="?page={{ i }}">{{ i }}</a>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <a class="w3-button w3-hover-black" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
          {% else %}
            <span class="disabled w3-button">&raquo;</span>
          {% endif %}
      </span>
    </div>
  {% endif %}
{% else %}
  <p>No posts found</p>
{% endif %}
