<!DOCTYPE html>
<html lang="en">
<title>CUCC | About | Meets</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- W3.CSS Import -->
{% load static %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'StaticPages/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>

<body>

<!-- Navbar -->
<div class="w3-bar w3-theme-dark 2w3-left-align w3-large">
  <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-theme-d4 w3-hover-black">CUCC</a>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-hover-black">About</button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Meets: Format & Costs</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">The Tackle Store</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">The Caving Library</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Constituion & Safety Policy</a>
    </div>
  </div>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-hover-black">Meets</button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Calendar & Upcoming Meets</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Caving Meets</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Social Meets</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Training Meets</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Trip Logs & Photos</a>
    </div>
  </div>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-hover-black">Gear</button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Hiring Gear</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Personal Gear</a>
    </div>
  </div>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-hover-black">Contact</button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Mailing Lists</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">The Committee</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Contact Details</a>
    </div>
  </div>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-hover-black">Get Involved!</button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">How to Join</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Mailing Lists</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Pub Meets</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Freshers' Zone</a>
    </div>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hover-black w3-right w3-hover-black">Sign Up</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-black w3-right w3-hover-black">Log In</a>
</div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main w3-theme-dark">

  <div class="w3-row">
    <div class="w3-third w3-container w3-theme-d4">
      <h1>Local Links</h1>
      <p>In the first section of the first column, we put local links to useful areas.</p>
      <h2>Actions</h2>
      <p>In the second section of the first column is put page-specific <button class="w3-button w3-theme-dark w3-hover-black">Actions</button> (if there are any).</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="w3-twothird w3-container w3-white">
      <h1>About Meets: Format and Costs</h1>
      <p>This website uses a one-thid:two-third ratio adaptive format for the main text.</p>
      <h2>Main Content</h2>
      <p>The main content for each page goes in this space.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h2>Heading 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h2>Heading 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h2>Heading 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h2>Heading 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>


  <!-- Pagination
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a class="w3-button w3-black" href="#">1</a>
      <a class="w3-button w3-hover-black" href="#">2</a>
      <a class="w3-button w3-hover-black" href="#">3</a>
      <a class="w3-button w3-hover-black" href="#">4</a>
      <a class="w3-button w3-hover-black" href="#">5</a>
      <a class="w3-button w3-hover-black" href="#">»</a>
    </div>
  </div>
-->

  <footer id="myFooter">
    <div class="w3-container w3-theme-d4 w3-padding-32 w3-center">
      <h4>Cambridge University Caving Club</h4>
    </div>

  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
