{% extends 'StaticPages/base.html' %}

{% block title %}
  <title>CUCC | About | Tackle Store</title>
{% endblock %}

{% block main-content %}
  <h1>The Tackle Store</h1>
  <p>The CUCC Tackle Store is a garage where we store all of our gear. It is presided over by the Tackle Master.</p>
  <p>It should be noted that although the CUCC Tackle Master is usually an undergraduate, the club has a number of graduate members with many years' experience of caving. These members are continually involved and consulted in matters relating to equipment.</p>

  <h2>Storage of Equipment</h2>
  <p>Within the Tackle Store, the various types of equipment are stored on shelves or hooks as appropriate. Rope is chained and sorted according to length. Each rope bears a label at both ends identifying its year of purchase and length. Should this coding be ambiguous, extra letters are added to disambiguate. Ladders are coiled and nested. The club's own articles of cave clothing are labelled and stored on shelves.</p>
  <p>Members of the club may store their personal caving equiment in the attic of the tackle store, though they do so at their own risk.</p>
  <p>In the past, an inventory of the Tackle Store was conducted annually. It is the view of the current president (T. Crossley, 2019) that this was a slow and laborious task that did little to actually prevent loss or theft of club equipment; especially as the habbit of actually signing out gear has slipped in recent years. This website will include an integrated enviornment containing the Tackle Store Inventory, the Gear Hire/Sign-Out Log, and the Club Finances all operating in beautiful synergy and harmony. Hopefully.</p>
  <div class="w3-panel w3-red">
    <p>PLACEHOLDER: Link to Gear Hire/Inventory Page</p>
  </div>

  <h2>Maintenance and Inspection of Equipment</h2>
  <p>The maintenance requirements of caving equipment vary from one type to the next.</p>

  <h3>Rope</h3>
  <p>Of all caving equipment, rope is the most likely to suffer damage in use. For this reason, CUCC ropes are inspected between each meet. This inspection usually takes place at specific 'ropewashing' meetings organised by the Tackle Master.</p>
  <p>Caving rope consists of a load bearing core of dense fibres surrounded by a protective sheath of more fibres. There are four main classes of potential rope damage:</p>
  <ol>
    <li>General weakening of the fibres caused by grit working into the weave of the rope and abrading the fibres.</li>
    <li>Severe abrasion of the fibres. This is caused when (as a result of poor rigging or difficult terrain) the rope stretches over the edge of a rock and oscillatory movement occurs under load.</li>
    <li>Damage to the core as a result of shock loading.</li>
    <li>Chemical damage caused by exposure to certain chemicals (e.g. carbide) or UV radiation.</li>
  </ol>
  <p>To counter these threats, the following procedures are followed:</p>
  <ol>
    <li>The ropes are washed in cool water without detergent. Specially designed brushes are wrapped around the rope and held underwater. These clean the rope as it is pulled through them. This helps prevent grit becoming engrained in the fibres of the rope.</li>
    <li>When the rope is reasonably clean, it is inspected visually for signs of abrasion to the outer fibres. This should detect damage before the load bearing core is affected.</li>
    <li>Damage to the core is detected by flexing the rope in a hoop shape. Sudden changes in the flexibility of the rope indicate potential damage.</li>
    <li>Ropes are only transported in purpose made bags. This keeps the worst of the dirt off them and blocks out UV radiation. As a precaution against general aging, all ropes are retired after five years' service. (Policy currently up for review).</li>
  </ol>
  <p>The inspection and certification of rope is performed by such persons as are identified in the relevant safety documents. Any critical damage found at a ropewashing session is either rectified (by dissecting the rope to remove the damaged section(s)) or the rope withdrawn from service.</p>

  <h3>Metalwork</h3>
  <p>General metalwork such as hangers and c-links require little attention other than occasional cleaning and prevention of rust. Damage to a ladder should become apparent during the coiling operation.</p>

  <h3>Other Equipment</h3>
  <p>Slings are inspected and washed regularly though they are many times stronger than necessary. Non-structural articles such as cave clothing are not considered safety-critical and hence are not inspected formally. However, it is to be expected that any member would report any damage found.</p>
  <p>All equipment is generally reviewed during the annual equipment audit.</p>

  <h2>Operational Procedures</h2>
  <ul>
    <li>The equipment required for a caving trip is selected from the Tackle Store by a responsible CUCC member of sufficient experience to ensure the fitness for purpose of any equipment they select.</li>
    <li>The equipment is transported in purpose designed bags (generally made of PVC). Ropes are unchained prior to being taken underground. This enables easy identification later of which ropes were used during the weekend and which were not.</li>
    <li>When rope returns from a caving trip, it is deposited on wooden pallet at the back of the tackle store. If rope is washed but not checked, it should be left coiled. If rope is neither washed nor checked, it should be left on the pallet uncoiled. As soon a possible after the gear has been returned, the Tackle Master organises a ropewashing session if there is equipment to be washed and/or checked.</li>
  </ul>
  <p>Notwithstanding these rules, everyone is required to use their common sense when using CUCC equipment, as hard and fast rules cannot cover every eventuality. Everyone must be responsible for their own safety and should not abdicate that responsibility to the apparent security of a set of procedures.</p>

  <h2>Guidelines for Use of CUCC Equipment</h2>
  <ul>
    <li>Equipment must be stored properly on shelves, hooks or other means as appropriate, in such a way that it will not be damaged.</li>
    <li>Equipment must not be used for any purpose other than caving or training.</li>
    <li>Those taking equipment from the Tackle Store for caving or training use must make sure that, to the best of their knowledge, it is suitable for the intended use(s).</li>
    <li>All equipment on the floor must be treated as uninspected and not taken for caving or training use.</li>
    <li>Equipment taken from the Tackle Store must be looked after and protected from damage while in transit to its point of use.</li>
    <li>Returned equipment must either be placed on the floor of the Tackle Store or taken directly to the next ropewashing session.</li>
    <li>All users must use their common sense and make sure that any equipment they use is safe, treat it responsibly and do their best to prevent unnecessary damage. If in doubt, ask more experienced and knowledgeable people.</li>
  </ul>
{% endblock %}

{% block side-content %}
  <h2>Location & Access</h2>
  <p>The Tackle Store is located at 6 Grange Road:</p>
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=0.10344743728637695%2C52.19690513536284%2C0.10698795318603516%2C52.19838312010057&amp;layer=mapnik&amp;marker=52.1976441338751%2C0.10521769523620605" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=52.19764&amp;mlon=0.10522#map=19/52.19764/0.10522">View Larger Map</a></small>
  <p>Keys are distributed at a cost of £5 per pair to the committee members and to other club members at the Tackle Master's discretion.</p>
  <div class="w3-panel w3-red">
    <p>PLACEHOLDER: Picture of Tackle Store</p>
  </div>
{% endblock %}
