{% extends 'StaticPages/base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Meets | Calendar</title>
{% endblock %}

{% block main-content %}
  <h1>Main Content: Calendar</h1>
  <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%233d6276&amp;ctz=Europe%2FLondon&amp;src=dGpsZ3JhdTM3NXUwMm4yNnFycGVhaDRmZmtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23E4C441&amp;showTitle=0&amp;showCalendars=0&amp;showPrint=0" class="w3-card-4 w3-center" style="border-width:0" width="800" height="600" frameborder="0" scrolling="yes"></iframe>
{% endblock %}

{% block side-content %}
  <h2>Side Bar</h2>
{% endblock %}
