{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Bank | Add Transaction</title>
{% endblock %}

{% block main-content %}
  <h1>Add Many-to-One Transaction</h1>
  {% block form %}
  {% endblock %}
{% endblock %}

{% block side-content %}
  <div class="w3-panel w3-yellow w3-card-4">
    <p><b>Tip</b> - This form can be used to create a variety of transactions:</p>
    <ul>
      <li>Multi-user charges. Select the relevant Pool account as a creditor and the User accounts to be charged as the debtors.</li>
      <li>Split bills between users. Select the user who paid the bill as the creditor and the users who owe money as the debtors.</li>
      <li>As well as single-creditor-multi-debtor transactions, single-debtor-multi-creditor transactions can be set up with this form by entering negative credits.</li>
    </ul>
  </div>
  {% include 'ActionSets/Bank.html' %}
{% endblock %}
