{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
{% endblock %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- W3.CSS Import -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'StaticPages/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>

<body>

<!-- Navbar -->
<div class="w3-bar w3-theme-d4 w3-large w3-card-4 w3-mobile">
  <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-theme-d4 w3-hover-black w3-mobile">CUCC</a>
  <div class="w3-dropdown-hover w3-mobile">
    <button class="w3-button w3-hover-black">About <i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-bar-block w3-card">
      <a href="{% url 'AboutMeetsFormatCost' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Meets: Format & Costs</a>
      <a href="{% url 'AboutTackleStore' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">The Tackle Store</a>
      <a href="{% url 'AboutLibrary' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">The Caving Library</a>
      <a href="{% url 'AboutConstitutionSafety' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Constituion & Safety Policy</a>
    </div>
  </div>
  <div class="w3-dropdown-hover w3-mobile">
    <button class="w3-button w3-hover-black">Meets <i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-bar-block w3-card">
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Calendar & Upcoming Meets</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Caving Meets</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Social Meets</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Training Meets</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Trip Logs & Photos</a>
    </div>
  </div>
  <div class="w3-dropdown-hover w3-mobile">
    <button class="w3-button w3-hover-black">Gear <i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-bar-block w3-card">
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Hiring Gear</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Personal Gear</a>
    </div>
  </div>
  <div class="w3-dropdown-hover w3-mobile">
    <button class="w3-button w3-hover-black">Contact <i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-bar-block w3-card">
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Mailing Lists</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">The Committee</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Contact Details</a>
    </div>
  </div>
  <div class="w3-dropdown-hover w3-mobile">
    <button class="w3-button w3-hover-black">Get Involved! <i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-bar-block w3-card">
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">How to Join</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Mailing Lists</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Pub Meets</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Freshers' Zone</a>
    </div>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hover-black w3-right w3-hover-black w3-mobile">Sign Up</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-black w3-right w3-hover-black w3-mobile">Log In</a>
</div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main w3-theme-dark">

  <div class="w3-row">
    <div class="w3-col w3-hide-medium w3-hide-small" style="width:100px">
      <p></p>
    </div>
    <div class="w3-col w3-right w3-hide-medium w3-hide-small" style="width:100px">
      <p></p>
    </div>
    <div class="w3-rest">
      <div class="w3-cell-row">
        <div class="w3-cell w3-container w3-theme-d3 w3-card-4 w3-mobile" style="width:25%">
          {% block side-content %}
          {% endblock %}
        </div>

        <div class="w3-cell w3-container w3-theme-l4 w3-card-4 w3-mobile" style="width:75%">
          {% block main-content %}
          {% endblock %}

          <!-- Pagination -->
          <div class="w3-center w3-padding-32">
            <div class="w3-bar">
              <a class="w3-button w3-black" href="#">1</a>
              <a class="w3-button w3-hover-black" href="#">2</a>
              <a class="w3-button w3-hover-black" href="#">3</a>
              <a class="w3-button w3-hover-black" href="#">4</a>
              <a class="w3-button w3-hover-black" href="#">5</a>
              <a class="w3-button w3-hover-black" href="#">»</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>






  <footer id="myFooter">
    <div class="w3-container w3-theme-d4 w3-padding-32 w3-center w3-card-4">
      <h4>Cambridge University Caving Club</h4>
    </div>

  </footer>

<!-- END MAIN -->
</div>

</body>
</html>
