{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
{% endblock %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- W3.CSS Import -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'StaticPages/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>

<body>

<!-- Navbar -->
<div class="w3-bar w3-theme-d4 2w3-left-align w3-large w3-card-4">
  <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-theme-d4 w3-hover-black">CUCC</a>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-hover-black">About</button>
    <div class="w3-dropdown-content w3-bar-block w3-card">
      <a href="{% url 'AboutMeetsFormatCost' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Meets: Format & Costs</a>
      <a href="{% url 'AboutTackleStore' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">The Tackle Store</a>
      <a href="{% url 'AboutLibrary' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">The Caving Library</a>
      <a href="{% url 'AboutConstitutionSafety' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Constituion & Safety Policy</a>
    </div>
  </div>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-hover-black">Meets</button>
    <div class="w3-dropdown-content w3-bar-block w3-card">
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Calendar & Upcoming Meets</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Caving Meets</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Social Meets</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Training Meets</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Trip Logs & Photos</a>
    </div>
  </div>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-hover-black">Gear</button>
    <div class="w3-dropdown-content w3-bar-block w3-card">
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Hiring Gear</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Personal Gear</a>
    </div>
  </div>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-hover-black">Contact</button>
    <div class="w3-dropdown-content w3-bar-block w3-card">
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Mailing Lists</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">The Committee</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Contact Details</a>
    </div>
  </div>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-hover-black">Get Involved!</button>
    <div class="w3-dropdown-content w3-bar-block w3-card">
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">How to Join</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Mailing Lists</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Pub Meets</a>
      <a href="#" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black">Freshers' Zone</a>
    </div>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hover-black w3-right w3-hover-black">Sign Up</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-black w3-right w3-hover-black">Log In</a>
</div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main w3-theme-dark">

  <div class="w3-row">
    <div class="w3-col w3-hide-medium w3-hide-small" style="width:100px">
      <p></p>
    </div>
    <div class="w3-col w3-right w3-hide-medium w3-hide-small" style="width:100px">
      <p></p>
    </div>
    <div class="w3-rest">
      <div class="w3-cell-row">
        <div class="w3-cell w3-container w3-theme-d3 w3-card-4 w3-mobile" style="width:25%">
          {% block side-content %}
          {% endblock %}
        </div>

        <div class="w3-cell w3-container w3-white w3-card-4 w3-mobile" style="width:75%">
          {% block main-content %}
          {% endblock %}

          <!-- Pagination -->
          <div class="w3-center w3-padding-32">
            <div class="w3-bar">
              <a class="w3-button w3-black" href="#">1</a>
              <a class="w3-button w3-hover-black" href="#">2</a>
              <a class="w3-button w3-hover-black" href="#">3</a>
              <a class="w3-button w3-hover-black" href="#">4</a>
              <a class="w3-button w3-hover-black" href="#">5</a>
              <a class="w3-button w3-hover-black" href="#">»</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>






  <footer id="myFooter">
    <div class="w3-container w3-theme-d4 w3-padding-32 w3-center w3-card-4">
      <h4>Cambridge University Caving Club</h4>
    </div>

  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
