<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {% block title %}
  {% endblock %}

  <!--favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "StaticPages/favicon/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "StaticPages/favicon/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "StaticPages/favicon/favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "StaticPages/favicon/site.webmanifest" %}">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- W3.CSS Import -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{% static 'StaticPages/style.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/3e022379d7.js"></script>

  <style>
  html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
  .w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
  }
  </style>
</head>

<body>
  <!-- Navbar -->
  <header>
    <div class="w3-bar w3-theme-d4 w3-large w3-card-4 w3-mobile">
      <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-theme-d4 w3-hover-black w3-mobile"><i class="fas fa-home"></i> <span class=" w3-hide-medium">CUCC</span></a>
      <div class="w3-dropdown-hover w3-mobile">
        <button class="w3-button w3-hover-black"><i class="fas fa-info-circle"></i> <span class=" w3-hide-medium">About</span> <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'AboutMeetsFormatCost' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Meets: Format & Costs</a>
          <a href="{% url 'AboutTackleStore' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">The Tackle Store</a>
          <a href="{% url 'AboutLibrary' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">The Caving Library</a>
          <a href="{% url 'AboutConstitutionSafety' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Constituion & Safety Policy</a>
        </div>
      </div>
      <div class="w3-dropdown-hover w3-mobile">
        <button class="w3-button w3-hover-black"><i class="fas fa-calendar-alt"></i> <span class=" w3-hide-medium">Meets</span> <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'MeetsCalendar' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Calendar & Upcoming Meets</a>
          <a href="{% url 'AboutMeetsFormatCost' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Caving Meets</a>
          <a href="{% url 'MeetsSocial' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Social Meets</a>
          <a href="{% url 'MeetsTraining' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Training Meets</a>
          <a href="{% url 'MeetsPub' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Pub Meets</a>
          <a href="{% url 'MeetsBlog' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Trip Logs & Photos</a>
        </div>
      </div>
      <div class="w3-dropdown-hover w3-mobile">
        <button class="w3-button w3-hover-black"><i class="fas fa-address-card"></i> <span class=" w3-hide-medium">Contact</span> <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'ContactMailingList' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Mailing Lists</a>
          <a href="{% url 'ContactCommittee' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">The Committee</a>
        </div>
      </div>
      <div class="w3-dropdown-hover w3-mobile">
        <button class="w3-button w3-hover-black"><i class="fas fa-paper-plane"></i> <span class=" w3-hide-medium">Get Involved!</span> <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'GetInvolvedHowToJoin' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">How to Join</a>
          <a href="{% url 'ContactMailingList' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Mailing Lists</a>
          <a href="{% url 'MeetsPub' %}" class="w3-bar-item w3-button w3-theme-d3 w3-hover-black w3-mobile">Pub Meets</a>
        </div>
      </div>
      <!-- Non Modal Login Link
      <a href="#" class="w3-bar-item w3-button w3-hover-black w3-right w3-hover-black w3-mobile"><i class="fas fa-sign-in-alt"></i> <span class=" w3-hide-medium">Register/Login</span></a>
      -->
      <!-- Modal Login Form -->
      <button onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button w3-hover-black w3-right w3-hover-black w3-mobile"><i class="fas fa-sign-in-alt"></i> <span class=" w3-hide-medium">Register/Login</span></button>
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom w3-theme-d4" style="max-width:600px">
          <form class="w3-container" action="/action_page.php">
            <div class="w3-section">
              <label><b>Username</b></label>
              <input class="w3-input w3-border w3-margin-bottom w3-theme-l4" type="text" placeholder="Enter Username" name="usrname" required>
              <label><b>Password</b></label>
              <input class="w3-input w3-border w3-theme-l4" type="password" placeholder="Enter Password" name="psw" required>
              <button class="w3-button w3-col w3-section w3-padding w3-theme-d1 w3-hover-green" style="width:45%" type="submit">Login</button>
              <button class="w3-button w3-col w3-right w3-section w3-padding w3-theme-d1 w3-hover-green" style="width:45%" type="button">Register</button>
            </div>
          </form>
          <div class="w3-container w3-border-top w3-padding-16 w3-theme-d3">
            <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-theme-d1 w3-hover-red">Cancel</button>
            <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
          </div>
        </div>
      </div>

    </div>
  </header>

  <!-- Main content. Side bars are hidden when medium and small. Content goes vertical when small. -->
  <div class="w3-main w3-theme-dark">

    <div class="w3-row">
      <div class="w3-col w3-hide-medium w3-hide-small" style="width:100px">
        <p></p>
      </div>
      <div class="w3-col w3-right w3-hide-medium w3-hide-small" style="width:100px">
        <p></p>
      </div>
      <div class="w3-rest">
        <div class="w3-cell-row">
          <div class="w3-cell w3-container w3-theme-d3 w3-card-4 w3-mobile" style="width:25%">
            {% block side-content %}
            {% endblock %}
          </div>

          <div class="w3-cell w3-container w3-theme-l4 w3-card-4 w3-mobile" style="width:75%">
            {% block main-content %}
            {% endblock %}

          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="w3-container w3-theme-d4 w3-padding-16 w3-center w3-card-4">
        <h4><b>Cambridge University Caving Club 2019</b></h4>
        <p style="text-align: center"><i>Powered by:</i><br><i class="fas fa-angle-double-left"></i> W3.CSS | django | FontAwesome | git <i class="fas fa-angle-double-right"></i></p>
      </div>

    </footer>

  <!-- END MAIN -->
  </div>

</body>
</html>
