{% extends 'StaticPages/base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Home</title>
{% endblock %}

{% block main-content %}
  <h1>Cambridge University Caving Club</h1>
  <p>For more than 70 years, the CUCC have been introducing people to the underworld. Some have never visited a cave and most want to experience something wholly new. The challenge and sense of adventure posed by caving are varied. In rough order of difficulty, challenges include: scrambling, free climbing, climbing ladders, moving vertically on ropes using SRT, and overcoming vertical re-belays, deviation and knots.</p>
  <p>Once you feel competent with it (which takes very different periods for each person) the following further challenges await: helping a leader to derig, rigging already bolted pitches, navigating your way using surveys, surveying newly discovered cave by using measuring instruments and computer software, bolting both by hand and with drills, and leading groups.</p>
  <p>The CUCC organises caving trips every other weekend during Full Term time, so there is plenty of choice for you to try. Longer trips take place during the rest of the year. A one week trip is organised in Easter to somewhere in Europe, usually to Ardeche in France, and an expedition happens every Summer to explore new caves in Austria (<a href="http://expo.survex.com/">http://expo.survex.com</a>). These longer trips take place in great environments, so there is plenty of choice for other outdoor activities as well, such as cycling, hiking, and climbing.</p>
  <p>In addition to physical fitness and vertical progression techniques, caving can help you develop your endurance, focus, team working, decision capacity, planning and organising, pacing yourself, orientation, identifying and minimising risks, etc. And once you get experience moving up, down and through caves, you could seek for a whole new range of activities to keep excitement up: exploration and topography, photography, rescue techniques, bio & geospeleology, speleo-anthropology... so it's not just about getting muddy!</p>
  <p>And CUCC is not just about caving: while in Cambridge there are plenty of activities and socials which are regularly announced on the mailing list and Facebook Page, including pub meets, training sessions, curry nights, talks, other outdoor activities.</p>
  <p>In any case, the website offers a whole range of information including:</p>
  <ul>
    <li>Calendar of when/where caving meets & social events are happening</li>
    <li>Details on caving trips / gear / cost etc.</li>
    <li>As well as lots of photos to get you excited</li>
  </ul>
  <div class="w3-panel w3-red">
    <p>PLACEHOLDER: Links to Above Items Needed</p>
  </div>

  <h1>Featured Items</h1>
  <p>Here will go blog objects with the "featured" tag.</p>
  <p>These may be trip reports, photos, upcoming events, or articles.</p>

  <h2>Item 1</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <h2>Item 2</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <h2>Item 3</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
{% endblock %}

{% block side-content %}
  <p></p>
  <div class="w3-card">
    <img src="{% static "StaticPages/images/CoverPhoto.jpg" %}" class="w3-image" alt="Photo by Mark Shinwell">
  </div>

  <h2>About</h2>
  <p>You have reached the homepage of the <b>Cambridge University Caving Club (CUCC).</b> Please feel free to browse the site to find out more about who we are.</p>

  <h2>History</h2>
  <p>The CUCC was founded in 1949 as an undergraduate club. Since then, it has grown to include people of all walks of life.</p>
  <blockquote class="w3-panel w3-leftbar w3-theme-l4 w3-card">
   <p>
   <i>"The membership of the Club shall be open to all past and present members of the  University  of  Cambridge,  students  pursuing  a  course  of  full-time  study  at a college of higher education in Cambridge or at a research institute approvedby the University of Cambridge,  employees of the University of Cambridge or of a college of higher education in Cambridge, and other people accepted by the committee, regardless of religion, nationality, ethnicity, gender, sexual orientation, stature, lardiness or lack of personal hygiene."</i></p>
   <p>Excerpt from the CUCC Constituion</p>
  </blockquote>

  <h2>Join us!</h2>
  <p>If you like the sound of caving and adventure, or are an experienced caver new to the Cambridge area, then you are more than welcome to join us. Contact details can be found in the links above, but the best way to get involved is to come to the pubmeet.</p>
  <p>We meet every Tuesday night at 21:00. Usually, we can be found in the Elm Tree (near Parkers Piece). Come along and join us for a drink, get to know the club, and see what we're up to!</p>
{% endblock %}
