{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Contact | Committee</title>
{% endblock %}

{% block main-content %}
  <h1>Committee</h1>
  <p>The committee consists of ten officers:</p>

  {% for r in rank_list %}
  <h2>{{ r.name }}:
    {% for u in user_list %}{% if r.name in u.rank_display %}{{ u.full_name }}, {{ u.college }}{% endif %}{% endfor %}
    {% for u in legacy_user_list %}{% if r.name in u.rank_display %}{{ u.full_name }}, {{ u.college }}{% endif %}{% endfor %}
  </h2>
  <p>Email: <i>{{ r.email }}</i></p>
  <p>{{ r.description }}</p>
  {% endfor %}

  <h1>Previous Committees</h1>
    <table class="w3-table-all w3-striped w3-tiny w3-card-4">
      {% for c in committee_list %}
        <tr><td>
          Year: {{ c.year }}
          President: {{ c.president }}
          Senior Treasurer: {{ c.senior_treasurer }}
          Junior Treasurer: {{ c.junior_treasurer }}
          Secretary: {{ c.secretary }}
          Tackle Master: {{ c.tackle_master }}
          Meets Secretary: {{ c.meets_secretary }}
          Social Secretary: {{ c.social_secretary }}
          Training Officer: {{ c.training_secretary }}
          Webmaster: {{ c.webmaster }}
          Librarian: {{ c.librarian }}
          Lamp Post: {{ c.lamp_post }}
        </td></tr>
      {% endfor %}
    </table>

  <p></p>

{% endblock %}

{% block side-content %}
  <h2>Committee Functions</h2>
  <p>If you would like more information about the jobs of specific committee members, please follow <a href="{% url 'MiscCommitteeFunctions' %}">this link</a>.</p>
{% endblock %}
