{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Contact | Committee</title>
{% endblock %}

{% block main-content %}
  <h1>Committee</h1>
  <p>The committee consists of ten officers:</p>

  <h2>President: Tom Crossley, Clare</h2>
  <p><i>caving-president at srcf.net</i></p>
  <p>Tom deals with the overall running of the Club. Contact him for general enquiries.</p>

  <h2>Senior Treasurer: James Hickson, Pembroke</h2>
  <p><i>caving-streasurer at srcf.net</i></p>
  <p>James oversees the running of the Club's finances. Please note that day-to-day transactions and enquiries should go to the Junior Treasurer (see below).</p>

  <h2>Junior Treasurer: David Walker, Ex-Johns</h2>
  <p><i>caving-treasurer at srcf.net</i></p>
  <p>David deals with the Club's finances. Email him if you have any queries regarding trip costs.</p>

  <h2>Secretary: Ruairidh Macleod, Hommerton</h2>
  <p><i>caving-secretary at srcf.net</i></p>
  <p>Ruairidh (pron. Roory) deals with general Club paperwork, including insurance and subscriptions to the relevant national caving bodies, as well as all port and wetsuit related tasks.</p>

  <h2>Tackle Master: Wassil Jansen, Hommerton</h2>
  <p><i>caving-tackle at srcf.net</i></p>
  <p>Wassil looks after the CUCC Tackle Store and its contents. He is also responsible for allocating gear tape colours.</p>

  <h2>Meets Secretary: Tom Crossley, Clare</h2>
  <p><i>caving-meets at srcf.net</i></p>
  <p>Tom arranges the meets schedule, booking of huts and permits for meets.</p>

  <h2>Social Secretary: Sophie Draper, Ex-Jesus</h2>
  <p><i>caving-social at srcf.net</i></p>
  <p>Sophie takes care of CUCC social life between trips.</p>

  <h2>Training Officer: Vacant</h2>
  <p><i>caving-training at srcf.net</i></p>
  <p>The trainig officer eals with matters relating to instruction in caving techniques within the club. They are responsible for the training sessions.</p>

  <h2>Webmaster: Tom Crossley, Clare</h2>
  <p><i>caving-web at srcf.net</i></p>
  <p>Tom manages the website. He is responsible for the mess of python, html, css, and javascript that you are currently looking at. It's all his fault.</p>

  <h2>Librarian: Vacant</h2>
  <p><i>caving-library at srcf.net</i></p>
  <p>CUCC has a fine Library in Pembroke College (which is full of fascinating stuff).</p>

  <h1>Previous Committees</h1>
  <div class="w3-responsive">
    <table class="w3-table-all">
      <thead>
        <tr class="w3-theme-d3">
          <th>Year</th>
          <th>President</th>
          <th>Senior Treasurer</th>
          <th>Junior Treasurer</th>
          <th>Secretary</th>
          <th>Tackle Master</th>
          <th>Meets Secretary</th>
          <th>Social Secretay</th>
          <th>Training Officer</th>
          <th>Webmaster</th>
          <th>Librarian</th>
          <th>Lamp Post</th>
        </tr>
      </thead>
      <tr class="w3-theme-l3">
        <td>2018-19</td>
        <td>Radost Waskieicz</td>
        <td>James Hickson</td>
        <td>Aidan Marks</td>
        <td>Ruairidh Macleod</td>
        <td>Tom Crossley</td>
        <td>David Walker</td>
        <td>Max Sinclair</td>
        <td></td>
        <td>Radost Waskieicz</td>
        <td></td>
        <td></td>
      </tr>
      <tr class="w3-theme-l4">
        <td>2017-18</td>
        <td>Ruairidh Macleod</td>
        <td>James Hickson</td>
        <td>Aidan Marks</td>
        <td>Radost Waskieicz</td>
        <td></td>
        <td>David Walker</td>
        <td>Elaine Oliver</td>
        <td></td>
        <td>Sam Wenham & Wookey</td>
        <td></td>
        <td></td>
      </tr>
      <tr class="w3-theme-l3">
        <td>2016-17</td>
        <td>Felix Stahlberg</td>
        <td>James Hickson</td>
        <td>Michael Sargent</td>
        <td>David Walker</td>
        <td></td>
        <td>Aidan Marks</td>
        <td>Roshni Gohil</td>
        <td></td>
        <td>Sam Wenham & Wookey</td>
        <td></td>
        <td></td>
      </tr>
      <tr class="w3-theme-l4">
        <td>2015-16</td>
        <td>David Walker</td>
        <td>James Hickson</td>
        <td>Michael Sargent</td>
        <td>Felix Stahlberg</td>
        <td>Sam Wenham</td>
        <td>David Walker</td>
        <td>Aled Elmore</td>
        <td>David Walker</td>
        <td>Sam Wenham</td>
        <td>Dávid Molnár</td>
        <td>Adrian Horrell</td>
      </tr>
      <tr class="w3-theme-l3">
        <td>2014-15</td>
        <td>David Walker</td>
        <td>James Hickson</td>
        <td>Stuart Bennett</td>
        <td>Michael Sargent</td>
        <td>Xian Jie Tay & Michael Sargent</td>
        <td>Sophie Draper</td>
        <td>Bela Dimova</td>
        <td></td>
        <td>Sam Wenham</td>
        <td>Dávid Molnár</td>
        <td>Adrian Horrell</td>
      </tr>
      <tr class="w3-theme-l4">
        <td>2013-14</td>
        <td>Bela Dimova</td>
        <td>James Hickson</td>
        <td>Stuart Bennett</td>
        <td>David Walker</td>
        <td>Xian Jie Tay</td>
        <td>Anya Ermakova</td>
        <td>Jessica Chatwin & Cormac Doyle</td>
        <td>Alex Crow</td>
        <td>Aiora Zabala</td>
        <td>Dávid Molnár</td>
        <td>Adrian Horrell</td>
      </tr>
      <tr class="w3-theme-l3">
        <td>2012-13</td>
        <td>Aiora Zabala</td>
        <td>James Hickson</td>
        <td>Stuart Bennett</td>
        <td>Bela Dimova</td>
        <td>Xian Jie Tay</td>
        <td>Matt Watson</td>
        <td></td>
        <td>Stuart Bennett</td>
        <td>Wookey</td>
        <td>Dávid Molnár</td>
        <td>Adrian Horrell</td>
      </tr>
      <tr class="w3-theme-l4">
        <td>2011-12</td>
        <td>Aiora Zabala</td>
        <td>James Hickson</td>
        <td>Dávid Mólnar</td>
        <td>Krista Mumdzjana</td>
        <td></td>
        <td>Matt Watson</td>
        <td>Stuart Bennett</td>
        <td></td>
        <td>Olly Madge & Wookey</td>
        <td>Jess Stirrups</td>
        <td>Wookey</td>
      </tr>
      <tr class="w3-theme-l3">
        <td>2010-11</td>
        <td>Jess Stirrups</td>
        <td>James Hickson</td>
        <td>Ben Gibson</td>
        <td>Tom Logan</td>
        <td></td>
        <td>Serena Povia</td>
        <td></td>
        <td>Martin Jahnke</td>
        <td>Tom Logan</td>
        <td></td>
        <td>Wookey</td>
      </tr>
    </table>
  </div>

  <p></p>

{% endblock %}

{% block side-content %}
  <h2>Under Construction</h2>
  <p>This page will soon be integrated with the UserPortal system (as soon as we make the UserPortal System), from which point it will become a bit more showy.</p>
{% endblock %}
