{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Contact | Committee</title>
{% endblock %}

{% block main-content %}
  <h1>Committee</h1>
  <p>The committee consists of ten officers:</p>

  {% for r in rank_list %}
  <h2>{{ r.name }}:
    {% for u in user_list %}{% if r.name in u.rank_display %}{{ u.full_name }}, {{ u.college }}{% endif %}{% endfor %}
    {% for u in legacy_user_list %}{% if r.name in u.rank_display %}{{ u.full_name }}, {{ u.college }}{% endif %}{% endfor %}
  </h2>
  <p>Email: <i>{{ r.email }}</i></p>
  <p>{{ r.description }}</p>
  {% endfor %}

  <h1>Previous Committees</h1>
  <div class="w3-responsive">
    <table class="w3-table-all w3-striped">
      <thead>
        <tr class="w3-theme-d3">
          <th>Year</th>
          <th>President</th>
          <th>Senior Treasurer</th>
          <th>Junior Treasurer</th>
          <th>Secretary</th>
          <th>Tackle Master</th>
          <th>Meets Secretary</th>
          <th>Social Secretary</th>
          <th>Training Officer</th>
          <th>Webmaster</th>
          <th>Librarian</th>
          <th>Lamp Post</th>
        </tr>
      </thead>
      {% for c in committee_list %}
      <tr>
        <td>{{ c.year }}</td>
        <td>{{ c.president }}</td>
        <td>{{ c.senior_treasurer }}</td>
        <td>{{ c.junior_treasurer }}</td>
        <td>{{ c.secretary }}</td>
        <td>{{ c.tackle_master }}</td>
        <td>{{ c.meets_secretary }}</td>
        <td>{{ c.social_secretary }}</td>
        <td>{{ c.training_secretary }}</td>
        <td>{{ c.webmaster }}</td>
        <td>{{ c.librarian }}</td>
        <td>{{ c.lamp_post }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <p></p>

{% endblock %}

{% block side-content %}
  <h2>Committee Functions</h2>
  <p>If you would like more information about the jobs of specific committee members, please follow <a href="{% url 'MiscCommitteeFunctions' %}">this link</a>.</p>
{% endblock %}
