{% extends 'Base.html' %}
{% load static %}

{% block meta %}
  Cambridge University Caving Club (CUCC) Homepage.
{% endblock %}

{% block title %}
  <title>CUCC | Home</title>
{% endblock %}

{% block main-content %}

  <h1>Cambridge University Caving Club</h1>
  <p>The Cambridge University Caving Club (CUCC) has been introducing people to the underworld for more than 70 years – whether they were already converts to the subterranean, or just keen for a new kind of adventure. Caving offers a varied scope of sense and adventure in a range of difficulties. What all caving trips offer, however, is an insight into some of the most unexplored places on the planet, some of which you could well be one of only few to ever see.</p>
  <p>The CUCC organises caving trips every other weekend during university term time, so there are plenty of opportunities for you to get involved and have a go! There are also longer trips that take place throughout the year. The so-called “President’s Meet” is a one-week trip to somewhere in Europe organised in Easter (usually to the Ardeche in France), and there is an annual expedition held in the Summer to explore new caves in the Dachstein region of Austria (<a href="http://expo.survex.com/">http://expo.survex.com</a>). These longer trips also offer plenty of choice for other, above-ground activities such as cycling, hiking and climbing for those days when heading underground seems like a waste of good weather!</p>
  <p>Starting from the beginning, cavers are introduced to (in rough order of difficulty): scrambling, free climbing, climbing ladders, moving vertically on ropes using SRT (Single Rope Technique), and overcoming vertical re-belays, deviation and knots. Once they begin to feel more competent in an underground environment – something which takes a different length of time for everyone – further challenges await: helping a leader to derig, rigging already bolted pitches, navigating your way using surveys, surveying newly discovered cave by using measuring instruments and computer software, bolting both by hand and with drills, and leading groups.</p>
  <p>In addition to helping you to keep fit and to learn various vertical progression techniques, caving has a number of other benefits. It helps develop your endurance, focus, teamwork, decision-making ability, planning and organising, the ability to pace yourself, orientation, your ability to assess risk among others. As you improve and become a more experienced caver, a whole new range of activities is available to keep the sport exciting: exploration and topography, photography, rescue techniques, bio & geospeleology, speleo-anthropology... so it's not just about getting muddy!</p>
  <p>The final and most important thing that caving offers is the people! CUCC is not just about caving: while in Cambridge there are plenty of activities and socials which are regularly announced on the mailing list and Facebook Page, including pub meets, training sessions, curry nights, talks, other outdoor activities.</p>
  <p>In any case, the website offers a whole range of information including:</p>
  <ul>
    <li><a href="{% url 'MeetsCalendar' %}">Calendar of when/where caving meets & social events are happening</a></li>
    <li><a href="{% url 'AboutMeetsFormatCost' %}">Details on caving trips / gear / cost etc.</a></li>
    <li><a href="{% url 'Blog' %}">As well as lots of photos to get you excited</a></li>
  </ul>
  <p>If you are an alumni member of CUCC, please see the <a href="{% url 'MiscExCS' %}">ExCS page</a> for more details.</p>

  <h1>CUCC Pictures</h1>
  <p>(Please see the <a href="{% url 'Blog' %}">Blog</a> for blog posts, the <a href="{% url 'Album'%}">Albums page</a> for all albums and the <a href="{% url 'Trip'%}">Trips page</a> for a list of trips.)</p>

  {% include 'Blog/MultiAlbum.html' %}

  <p></p>

{% endblock %}

{% block side-content %}
  {% include 'ActionSets/Blog.html' %}
  <p></p>
  <div class="w3-card">
    <img src="{% static "Images/Caves/CoverPhoto.jpg" %}" class="w3-image w3-hide-small" alt="Photo by Mark Shinwell">
  </div>

  <h2>About</h2>
  <p>You have reached the homepage of the <b>Cambridge University Caving Club (CUCC).</b> Please feel free to browse the site to find out more about who we are.</p>

  <h2>Join us!</h2>
  <p>If you like the sound of caving and adventure, or are an experienced caver new to the Cambridge area, then you are more than welcome to join us. Contact details can be found in the links above, but the best way to get involved is to come to the pubmeet.</p>
  <p>We meet every Tuesday night at 21:00. Usually, we can be found in the Elm Tree (near Parkers Piece). Come along and join us for a drink, get to know the club, and see what we're up to!</p>

  <h2>History</h2>
  <p>The CUCC was founded in 1949 as an undergraduate club. Since then, it has grown to include people of all walks of life.</p>
  <blockquote class="w3-panel w3-leftbar w3-theme-l4 w3-card">
   <p>
   <i>"The membership of the Club shall be open to all past and present members of the  University  of  Cambridge,  students  pursuing  a  course  of  full-time  study  at a college of higher education in Cambridge or at a research institute approvedby the University of Cambridge,  employees of the University of Cambridge or of a college of higher education in Cambridge, and other people accepted by the committee, regardless of religion, nationality, ethnicity, gender, sexual orientation, stature, lardiness or lack of personal hygiene."</i></p>
   <p>Excerpt from the CUCC Constituion</p>
  </blockquote>

  <!-- Disable slideshow if no JS -->
  <noscript>
    <style>
        #slideshow {display:none;}
    </style>
  </noscript>

  <!-- Slideshow images -->
  <div id="slideshow" class="w3-content w3-section w3-card-4" style="max-width:800px">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/1.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/2.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/3.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/4.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/5.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/6.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/7.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/8.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/9.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/10.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/11.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/12.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/13.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/14.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/15.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/16.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/17.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/18.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/19.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/20.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/22.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/23.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/21.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/24.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/25.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/26.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/27.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/28.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/29.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/30.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/31.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/32.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/33.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/34.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/35.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/36.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/37.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/38.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/39.jpg" %}" style="width:100%">
    <img class="mySlides" src="{% static "Images/HomeSlideShow/40.jpg" %}" style="width:100%">
  </div>


  <script>
    var myIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 5000); // Change image every 2 seconds
    }
  </script>
{% endblock %}
