{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Gear |  First Aid</title>
{% endblock %}

{% block main-content %}
  <h1>First Aid</h1>

  <h2>Contents of First Aid Kits</h2>

  <table class="w3-table w3-table w3-striped w3-card">
    <tbody><tr>
    <td colspan="2"> <b>Camp kits</b>
    </td>
    <td> <b>Plaster kit</b>
    </td>
    <td> <b>Mini-rescue</b>
    </td>
    <td> <b>Personal Kits</b>
    </td>
    <td></td></tr>
    <tr>
    <td> Start of expo
    </td>
    <td> Minimum
    </td>
    <td> Start of expo
    </td>
    <td> Minimum
    </td>
    <td> Minimum
    </td><td></td></tr>
    <tr>
    <td colspan="6"> <b>PPE, Scissors and pencil and paper</b>
    </td></tr>
    <tr>
    <td> 16 </td>
    <td>  8 </td>
    <td> 4 </td>
    <td> 6 </td>
    <td> 1 </td>
    <td> Pairs of nitrile gloves
    </td></tr>
    <tr>
    <td> 1  </td>
    <td>  1 </td>
    <td> 1 </td>
    <td> 1 </td>
    <td> 1 </td>
    <td> Sharp or sharp/blunt scissors
    </td></tr>
    <tr>
    <td> 1  </td>
    <td> 1  </td>
    <td>   </td>
    <td> 1 </td>
    <td>   </td>
    <td> Tuffkuts
    </td></tr>
    <tr>
    <td> 2  </td>
    <td> 2  </td>
    <td> 1 </td>
    <td> 1 </td>
    <td> 1 </td>
    <td> Pencil
    </td></tr>
    <tr>
    <td> 5  </td>
    <td> 5  </td>
    <td> 1 </td>
    <td> 1 </td>
    <td> 1 </td>
    <td> Paper
    </td></tr>
    <tr>
    <td colspan="6"> <b>Wound Cleaning</b>
    </td></tr>
    <tr>
    <td> 40 </td>
    <td> 20 </td>
    <td>  </td>
    <td> 1 pack </td>
    <td> 1 pack </td>
    <td> 5 x 5 cm sterile swabs
    </td></tr>
    <tr>
    <td> 8  </td>
    <td> 2  </td>
    <td>   </td>
    <td>   </td>
    <td>   </td>
    <td> Normasol
    </td></tr>
    <tr>
    <td> 1  </td>
    <td> 1  </td>
    <td>   </td>
    <td>   </td>
    <td>   </td>
    <td> Kidney dish
    </td></tr>
    <tr>
    <td> 8  </td>
    <td> 4  </td>
    <td> 3 </td>
    <td> 5 </td>
    <td> 1 </td>
    <td> 25ml eyewash
    </td></tr>
    <tr>
    <td> 30 </td>
    <td> 15 </td>
    <td> 10 </td>
    <td> 10 </td>
    <td> 10 </td>
    <td> alchol free wipes
    </td></tr>
    <tr>
    <td colspan="6"> <b>Wound Dressing</b>
    </td></tr>
    <tr>
    <td> 5  </td>
    <td> 2  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td> Non - adhesive 10 x 10 cm dressing
    </td></tr>
    <tr>
    <td> 5  </td>
    <td> 2  </td>
    <td> 3 </td>
    <td> 2 </td>
    <td> 2 </td>
    <td> Big water proof plasters
    </td></tr>
    <tr>
    <td> 5  </td>
    <td> 2  </td>
    <td> 3 </td>
    <td> 2 </td>
    <td> 2 </td>
    <td> Small water proof plasters
    </td></tr>
    <tr>
    <td> 5  </td>
    <td> 2  </td>
    <td> 3 </td>
    <td> 2 </td>
    <td> 2 </td>
    <td> Knuckle water proof plasters
    </td></tr>
    <tr>
    <td> 5  </td>
    <td> 2  </td>
    <td> 3 </td>
    <td> 2 </td>
    <td> 2 </td>
    <td> Big hypoallergenic plasters
    </td></tr>
    <tr>
    <td> 5  </td>
    <td> 2  </td>
    <td> 3 </td>
    <td> 2 </td>
    <td> 2 </td>
    <td> Small hypoallergenic plasters
    </td></tr>
    <tr>
    <td> 5  </td>
    <td> 2  </td>
    <td> 3 </td>
    <td> 2 </td>
    <td> 2 </td>
    <td> Knuckle hypoallergenic plasters
    </td></tr>
    <tr>
    <td> 4  </td>
    <td> 2  </td>
    <td> 1 </td>
    <td> 2 </td>
    <td>   </td>
    <td> Large dressing (no. 9)
    </td></tr>
    <tr>
    <td> 2  </td>
    <td> 2  </td>
    <td>   </td>
    <td> 2 </td>
    <td>   </td>
    <td> #4 ambulance dressing
    </td></tr>
    <tr>
    <td> 2  </td>
    <td> 2  </td>
    <td>   </td>
    <td>   </td>
    <td>   </td>
    <td> #3/2 Ambulance dressing and bandage
    </td></tr>
    <tr>
    <td> 2  </td>
    <td> 1  </td>
    <td>   </td>
    <td>   </td>
    <td>   </td>
    <td> 10 x 10cm adhesive dressing
    </td></tr>
    <tr>
    <td> 1  </td>
    <td> 1  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td> Hypoallergenic tape
    </td></tr>
    <tr>
    <td> 1  </td>
    <td> 1  </td>
    <td>   </td>
    <td> 1 </td>
    <td> 1 </td>
    <td> 2.5cm zinc oxide tape
    </td></tr>
    <tr>
    <td> 3  </td>
    <td> 2  </td>
    <td>  </td>
    <td> 1 </td>
    <td> 1 </td>
    <td> pack of sutures
    </td></tr>
    <tr>
    <td colspan="6"> <b>Sprains, strains, breaks and dressing retention</b>
    </td></tr>
    <tr>
    <td> 2  </td>
    <td> 1  </td>
    <td>  </td>
    <td> 1 </td>
    <td> 1 </td>
    <td> 7cm roller bandage
    </td></tr>
    <tr>
    <td> 1  </td>
    <td> 1  </td>
    <td>  </td>
    <td>   </td>
    <td>   </td>
    <td> Set of tubigrips sizes A-G
    </td></tr>
    <tr>
    <td> 2  </td>
    <td> 1  </td>
    <td>  </td>
    <td>   </td>
    <td>   </td>
    <td> Ice packs
    </td></tr>
    <tr>
    <td>    </td>
    <td>    </td>
    <td>  </td>
    <td> 2 </td>
    <td>   </td>
    <td> SAM splint
    </td></tr>
    <tr>
    <td>    </td>
    <td>    </td>
    <td>  </td>
    <td> 1 </td>
    <td>   </td>
    <td> Gaffer tape
    </td></tr>
    <tr>
    <td> 8  </td>
    <td> 4  </td>
    <td>  </td>
    <td>   </td>
    <td> 3 </td>
    <td> Safety pins
    </td></tr>
    <tr>
    <td> 4  </td>
    <td> 2  </td>
    <td>  </td>
    <td>   </td>
    <td>   </td>
    <td> Triangular bandages
    </td></tr>
    <tr>
    <td colspan="6"> <b>Drugs see notes on use</b>
    </td></tr>
    <tr>
    <td> 20 </td>
    <td> 10 </td>
    <td> 10 </td>
    <td> 4 </td>
    <td> 4 </td>
    <td> Paracetamol
    </td></tr>
    <tr>
    <td> 3  </td>
    <td> 3  </td>
    <td>    </td>
    <td> 3 </td>
    <td> 3 </td>
    <td> Voltarol
    </td></tr>
    <tr>
    <td> 6  </td>
    <td> 2  </td>
    <td>    </td>
    <td> 2 </td>
    <td>   </td>
    <td> Asprin
    </td></tr>
    <tr>
    <td> 2  </td>
    <td> 2  </td>
    <td>    </td>
    <td> 2 </td>
    <td>   </td>
    <td> Rehydration salts
    </td></tr>
    <tr>
    <td> 9  </td>
    <td> 3  </td>
    <td> 10 </td>
    <td> 3 </td>
    <td>   </td>
    <td> Ibuprofen
    </td></tr>
    <tr>
    <td> 8  </td>
    <td> 4  </td>
    <td>    </td>
    <td> 8 </td>
    <td>   </td>
    <td> Loperamide
    </td></tr>
    <tr>
    <td> 8  </td>
    <td> 4  </td>
    <td>    </td>
    <td> 8 </td>
    <td>   </td>
    <td> Domperidone
    </td></tr>
    <tr>
    <td> 2  </td>
    <td> 2  </td>
    <td>    </td>
    <td> 2 </td>
    <td>   </td>
    <td> Dextrose
    </td></tr>
    <tr>
    <td> 1  </td>
    <td>    </td>
    <td>    </td>
    <td>   </td>
    <td>   </td>
    <td> Salvon
    </td></tr>
    <tr>
    <td colspan="6"> <b>Survival</b>
    </td></tr>
    <tr>
    <td>   </td>
    <td>   </td>
    <td>  </td>
    <td> 2 </td>
    <td>  </td>
    <td> Survival bags
    </td></tr>
    <tr>
    <td>   </td>
    <td>   </td>
    <td>  </td>
    <td> 2 </td>
    <td>  </td>
    <td> Back up lights
    </td></tr>
    <tr>
    <td> 2 </td>
    <td> 2 </td>
    <td>  </td>
    <td> 6 </td>
    <td> 1 </td>
    <td> Candle
    </td></tr>
    <tr>
    <td> 2 </td>
    <td> 1 </td>
    <td>  </td>
    <td> 2 </td>
    <td> 1 </td>
    <td> Lighters
    </td></tr>
  </tbody></table>

{% endblock %}

{% block side-content %}
  <h2>First Aid Kits Use</h2>
  <p>If you take anything from a kit, you must check to see if it needs restocking. </p>
  <p>Restock from a larger first aid kit, the base camp first aid kit or the chemists. </p>
  <p>The camp and plaster kits should be located at each camp. </p>
  <p>The mini rescue kits should be kept where people store their caving kit. </p>

  <h2>Problems</h2>
  <p>Legal disclaimer: All drugs are made available for people to take. They should not be 'given' to any one else. </p>
  <p>Heart Attack: Asprin </p>
  <p>Headaches/fever: Paracetamol </p>
  <p>Muscular/skeletal pain: </p>
  <ul>
    <li>Paracetamol by default</li>
    <li>Ibuprofen to reduce swelling</li>
    <li>Paracetamol and Ibuprofen moderate pain</li>
    <li>Paracetamol and Votarol severe pain</li>
  </ul>
  <p>Paracetamol and Votarol severe pain</p>
  <p>Vomiting: Rehydration salts, Domperidone </p>
  <p>Allergy: Zirtek </p>

  <h2>Guidance</h2>
  <p>Paracetamol: Take 1-2 500mg tablets every 4hours. No more than 8 tablets in a 24 hour period </p>
  <p>Ibuprofen: Do not take with asprin, voltrol, on an empty stomach or if pregnant. Only for asthmatics that have taken it before without a problem. Try to avoid if you have a stomach ulcer. Take 1-2 400mg tablets every 4 hours. No more than 6 in and 24 hour period. </p>
  <p>Voltarol: Do not take with ibuprofen or asprin, if pregnant or if you have a stomach ulcer. Avoid if nauseous after head injury or if level of consiousness decreased. Only for asthmatics that have taken it before without a problem. Take 1 50mg tablet upto 3 times a day, preferably at meal times. </p>
  <p>Rehydration Salts: Unless otherwise instructed, mix with one litre of clean water and sip slowly. </p>
  <p>Loperamide: Take two capsule initially (swallowed whole with water) and additional tablets after every period of diarrhoea for upto five days. Take no more than 8in a 24 hour period. For use with debilitating diarrhoea. </p>
  <p>Zirtec allergy relief: Take one 10mg tablet with water. Do not use if pregnant or you have kidney problems or an allergy to antihistamines. </p>
  <p>Domperidone 1-2 10mg tablets every 4-8 hours. No more than 8 in any 24 hour period. When vomiting prevents moving the patient or there is significant risk of dehydration. </p>
  <p>Asprin Do not take with ibuprofen or voltarol or decreased level of consiousness or stomach ulcers. Avoid if nauseus after head injury. For suspected heart attacks. Take one tablet. </p>

{% endblock %}
