{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Gear | Hire</title>
{% endblock %}

{% block main-content %}
  <h1>Gear Hire</h1>

  <h2>Ropes</h2>
  {% if rope_list %}
    <table class="w3-table w3-table-all w3-striped w3-card">
    <tr class="w3-theme-d3">
      <th>Length</th>
      <th>Diameter</th>
      <th>Year</th>
      <th>Notes</th>
      <th>Signed Out By</th>
      <th></th>
    </tr>
    {% for item in rope_list %}
      {% if item.available %}
        <tr class="w3-green">
          <td>{{ item.length }}</td>
          <td>{{ item.diameter }}</td>
          <td>{{ item.purchased_year }}</td>
          <td>{{ item.notes }}</td>
          <td>Available</td>
          <td class="w3-bar w3-right">
            {% if perms.Gear.register_gear %}
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'DeleteRope' pk=item.pk %}">Delete</a>
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'EditRope' pk=item.pk %}">Edit</a>
            {% endif %}
            {% if perms.Gear.hire_self %}
              <form method="POST" action="{% url 'RopeSignOut' pk=item.pk %}">
                {% csrf_token %}
                <select {% if not perms.Gear.hire_other %}style="display:none"{% endif %} class="w3-input w3-bar-item w3-mobile w3-block w3-right" name="user" >
                  <option value="{{ user.username }}">{{ user.full_name }}</option>
                  {% for u in user_list %}
                    {% if u != user %}
                      <option value="{{ u.username }}">{{ u.full_name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <input type="submit" class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" value="SignOut">
              </form>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr class="w3-red">
          <td>{{ item.length }}</td>
          <td>{{ item.diameter }}</td>
          <td>{{ item.purchased_year }}</td>
          <td>{{ item.notes }}</td>
          <td>{% for hire in hirerope_list %}{% if hire.rope == item and hire.signed_in == None %}{{ hire.signed_out_by.full_name }}{% endif %}{% endfor %}</td>
          <td class="w3-bar w3-right">
            {% if perms.Gear.register_gear %}
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'DeleteRope' pk=item.pk %}">Delete</a>
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'EditRope' pk=item.pk %}">Edit</a>
            {% endif %}
            {% if perms.Gear.hire_self %}
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'RopeSignIn' pk=item.pk %}">Sign In</a>
            {% endif %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  {% else %}
    <p>No Ropes Found</p>
  {% endif %}

  <h2>Helmets</h2>
  {% if helmet_list %}
    <table class="w3-table w3-table-all w3-striped w3-card">
    <tr class="w3-theme-d3">
      <th>UID</th>
      <th>Year</th>
      <th>Notes</th>
      <th>Signed Out By</th>
      <th></th>
    </tr>
    {% for item in helmet_list %}
      {% if item.available %}
        <tr class="w3-green">
          <td>{{ item.uid }}</td>
          <td>{{ item.purchased_year }}</td>
          <td>{{ item.notes }}</td>
          <td>Available</td>
          <td class="w3-bar w3-right">
            {% if perms.Gear.register_gear %}
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'DeleteHelmet' pk=item.pk %}">Delete</a>
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'EditHelmet' pk=item.pk %}">Edit</a>
            {% endif %}
            {% if perms.Gear.hire_self %}
              <form method="POST" action="{% url 'HelmetSignOut' pk=item.pk %}">
                {% csrf_token %}
                <select {% if not perms.Gear.hire_other %}style="display:none"{% endif %} class="w3-input w3-bar-item w3-mobile w3-block w3-right" name="user" >
                  <option value="{{ user.username }}">{{ user.full_name }}</option>
                  {% for u in user_list %}
                    {% if u != user %}
                      <option value="{{ u.username }}">{{ u.full_name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <input type="submit" class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" value="SignOut">
              </form>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr class="w3-red">
          <td>{{ item.uid }}</td>
          <td>{{ item.purchased_year }}</td>
          <td>{{ item.notes }}</td>
          <td>{% for hire in hirehelmet_list %}{% if hire.helmet == item and hire.signed_in == None %}{{ hire.signed_out_by.full_name }}{% endif %}{% endfor %}</td>
          <td class="w3-bar w3-right">
            {% if perms.Gear.register_gear %}
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'DeleteHelmet' pk=item.pk %}">Delete</a>
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'EditHelmet' pk=item.pk %}">Edit</a>
            {% endif %}
            {% if perms.Gear.hire_self %}
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'HelmetSignIn' pk=item.pk %}">Sign In</a>
            {% endif %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  {% else %}
    <p>No Helmets Found</p>
  {% endif %}

  <h2>SRT Kits</h2>
  {% if srtkit_list %}
    <table class="w3-table w3-table-all w3-striped w3-card">
    <tr class="w3-theme-d3">
      <th>Colours</th>
      <th>Notes</th>
      <th>Signed Out By</th>
      <th></th>
    </tr>
    {% for item in srtkit_list %}
      {% if item.available %}
        <tr class="w3-green">
          <td>{{ item.colour_code }}</td>
          <td>{{ item.notes }}</td>
          <td>Available</td>
          <td class="w3-bar w3-right">
            {% if perms.Gear.register_gear %}
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'DeleteSRTKit' pk=item.pk %}">Delete</a>
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'EditSRTKit' pk=item.pk %}">Edit</a>
            {% endif %}
            {% if perms.Gear.hire_self %}
              <form method="POST" action="{% url 'SRTKitSignOut' pk=item.pk %}">
                {% csrf_token %}
                <select {% if not perms.Gear.hire_other %}style="display:none"{% endif %} class="w3-input w3-bar-item w3-mobile w3-block w3-right" name="user" >
                  <option value="{{ user.username }}">{{ user.full_name }}</option>
                  {% for u in user_list %}
                    {% if u != user %}
                      <option value="{{ u.username }}">{{ u.full_name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <input type="submit" class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" value="SignOut">
              </form>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr class="w3-red">
          <td>{{ item.colour_code }}</td>
          <td>{{ item.notes }}</td>
          <td>{% for hire in hiresrtkit_list %}{% if hire.kit == item and hire.signed_in == None %}{{ hire.signed_out_by.full_name }}{% endif %}{% endfor %}</td>
          <td class="w3-bar w3-right">
            {% if perms.Gear.register_gear %}
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'DeleteSRTKit' pk=item.pk %}">Delete</a>
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'EditSRTKit' pk=item.pk %}">Edit</a>
            {% endif %}
            {% if perms.Gear.hire_self %}
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'SRTKitSignIn' pk=item.pk %}">Sign In</a>
            {% endif %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  {% else %}
    <p>No SRT Kits Found</p>
  {% endif %}

  <h2>Harnesses</h2>
  {% if harness_list %}
    <table class="w3-table w3-table-all w3-striped w3-card">
    <tr class="w3-theme-d3">
      <th>UID</th>
      <th>Year</th>
      <th>Notes</th>
      <th>Signed Out By</th>
      <th></th>
    </tr>
    {% for item in harness_list %}
      {% if item.available %}
        <tr class="w3-green">
          <td>{{ item.uid }}</td>
          <td>{{ item.purchased_year }}</td>
          <td>{{ item.notes }}</td>
          <td>Available</td>
          <td class="w3-bar w3-right">
            {% if perms.Gear.register_gear %}
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'DeleteHarness' pk=item.pk %}">Delete</a>
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'EditHarness' pk=item.pk %}">Edit</a>
            {% endif %}
            {% if perms.Gear.hire_self %}
              <form method="POST" action="{% url 'HarnessSignOut' pk=item.pk %}">
                {% csrf_token %}
                <select {% if not perms.Gear.hire_other %}style="display:none"{% endif %} class="w3-input w3-bar-item w3-mobile w3-block w3-right" name="user" >
                  <option value="{{ user.username }}">{{ user.full_name }}</option>
                  {% for u in user_list %}
                    {% if u != user %}
                      <option value="{{ u.username }}">{{ u.full_name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <input type="submit" class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" value="SignOut">
              </form>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr class="w3-red">
          <td>{{ item.uid }}</td>
          <td>{{ item.purchased_year }}</td>
          <td>{{ item.notes }}</td>
          <td>{% for hire in hireharness_list %}{% if hire.harness == item and hire.signed_in == None %}{{ hire.signed_out_by.full_name }}{% endif %}{% endfor %}</td>
          <td class="w3-bar w3-right">
            {% if perms.Gear.register_gear %}
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'DeleteHarness' pk=item.pk %}">Delete</a>
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'EditHarness' pk=item.pk %}">Edit</a>
            {% endif %}
            {% if perms.Gear.hire_self %}
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'HarnessSignIn' pk=item.pk %}">Sign In</a>
            {% endif %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  {% else %}
    <p>No Harnesses Found</p>
  {% endif %}

  <h2>Undersuits</h2>
  {% if undersuit_list %}
    <table class="w3-table w3-table-all w3-striped w3-card">
    <tr class="w3-theme-d3">
      <th>UID</th>
      <th>Size</th>
      <th>Notes</th>
      <th>Signed Out By</th>
      <th></th>
    </tr>
    {% for item in undersuit_list %}
      {% if item.available %}
        <tr class="w3-green">
          <td>{{ item.uid }}</td>
          <td>{{ item.size }}</td>
          <td>{{ item.notes }}</td>
          <td>Available</td>
          <td class="w3-bar w3-right">
            {% if perms.Gear.register_gear %}
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'DeleteUndersuit' pk=item.pk %}">Delete</a>
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'EditUndersuit' pk=item.pk %}">Edit</a>
            {% endif %}
            {% if perms.Gear.hire_self %}
              <form method="POST" action="{% url 'UndersuitSignOut' pk=item.pk %}">
                {% csrf_token %}
                <select {% if not perms.Gear.hire_other %}style="display:none"{% endif %} class="w3-input w3-bar-item w3-mobile w3-block w3-right" name="user" >
                  <option value="{{ user.username }}">{{ user.full_name }}</option>
                  {% for u in user_list %}
                    {% if u != user %}
                      <option value="{{ u.username }}">{{ u.full_name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <input type="submit" class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" value="SignOut">
              </form>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr class="w3-red">
          <td>{{ item.uid }}</td>
          <td>{{ item.size }}</td>
          <td>{{ item.notes }}</td>
          <td>{% for hire in hireundersuit_list %}{% if hire.undersuit == item and hire.signed_in == None %}{{ hire.signed_out_by.full_name }}{% endif %}{% endfor %}</td>
          <td class="w3-bar w3-right">
            {% if perms.Gear.register_gear %}
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'DeleteUndersuit' pk=item.pk %}">Delete</a>
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'EditUndersuit' pk=item.pk %}">Edit</a>
            {% endif %}
            {% if perms.Gear.hire_self %}
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'UndersuitSignIn' pk=item.pk %}">Sign In</a>
            {% endif %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  {% else %}
    <p>No Undersuits Found</p>
  {% endif %}

  <h2>Oversuits</h2>
  {% if oversuit_list %}
    <table class="w3-table w3-table-all w3-striped w3-card">
    <tr class="w3-theme-d3">
      <th>UID</th>
      <th>Size</th>
      <th>Notes</th>
      <th>Signed Out By</th>
      <th></th>
    </tr>
    {% for item in oversuit_list %}
      {% if item.available %}
        <tr class="w3-green">
          <td>{{ item.uid }}</td>
          <td>{{ item.size }}</td>
          <td>{{ item.notes }}</td>
          <td>Available</td>
          <td class="w3-bar w3-right">
            {% if perms.Gear.register_gear %}
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'DeleteOversuit' pk=item.pk %}">Delete</a>
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'EditOversuit' pk=item.pk %}">Edit</a>
            {% endif %}
            {% if perms.Gear.hire_self %}
              <form method="POST" action="{% url 'OversuitSignOut' pk=item.pk %}">
                {% csrf_token %}
                <select {% if not perms.Gear.hire_other %}style="display:none"{% endif %} class="w3-input w3-bar-item w3-mobile w3-block w3-right" name="user" >
                  <option value="{{ user.username }}">{{ user.full_name }}</option>
                  {% for u in user_list %}
                    {% if u != user %}
                      <option value="{{ u.username }}">{{ u.full_name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <input type="submit" class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" value="SignOut">
              </form>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr class="w3-red">
          <td>{{ item.uid }}</td>
          <td>{{ item.size }}</td>
          <td>{{ item.notes }}</td>
          <td>{% for hire in hireoversuit_list %}{% if hire.oversuit == item and hire.signed_in == None %}{{ hire.signed_out_by.full_name }}{% endif %}{% endfor %}</td>
          <td class="w3-bar w3-right">
            {% if perms.Gear.register_gear %}
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'DeleteOversuit' pk=item.pk %}">Delete</a>
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'EditOversuit' pk=item.pk %}">Edit</a>
            {% endif %}
            {% if perms.Gear.hire_self %}
              <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'OversuitSignIn' pk=item.pk %}">Sign In</a>
            {% endif %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  {% else %}
    <p>No Oversuits Found</p>
  {% endif %}

  <h2>Other Gear</h2>
  {% if othergear_list %}
    <table class="w3-table w3-table-all w3-striped w3-card">
    <tr class="w3-theme-d3">
      <th>Name</th>
      <th>Notes</th>
      <th>On Loan</th>
      <th>Available</th>
      <th></th>
    </tr>
    {% for item in othergear_list %}
      <tr class="w3-green">
        <td>{{ item.name }}</td>
        <td>{{ item.notes }}</td>
        <td>{{ item.on_loan }}/{{ item.quantity }}</td>
        <td>{{ item.available }}/{{ item.quantity }}</td>
        <td class="w3-bar w3-responsive w3-right">
          {% if perms.Gear.register_gear %}
            <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'DeleteOtherGear' pk=item.pk %}">Delete</a>
            <a class="w3-button w3-bar-item w3-mobile w3-block w3-theme-d4 w3-hover-black w3-right" href="{% url 'EditOtherGear' pk=item.pk %}">Edit</a>
          {% endif %}
          {% if perms.Gear.hire_self %}
            {% if item.available != 0 %}
              <form method="POST" class="w3-right" action="{% url 'OtherGearSignOut' pk=item.pk %}">
                  {% csrf_token %}
                  <select {% if not perms.Gear.hire_other %}style="display:none"{% endif %} class="w3-input w3-bar-item w3-mobile" name="user" >
                    <option value="{{ user.username }}">{{ user.full_name }}</option>
                    {% for u in user_list %}
                      {% if u != user %}
                        <option value="{{ u.username }}">{{ u.full_name }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                  <input class="w3-bar-item w3-mobile w3-right" style="width:100px" type="number" name="amount" min="0" max="{{ item.available }}" value=0>
                  <input class="w3-bar-item w3-button w3-theme-d4 w3-hover-black w3-mobile w3-right" type="submit" value="Sign Out">
              </form>
            {% endif %}
            {% if item.on_loan != 0 %}
            <form method="POST" action="{% url 'OtherGearSignIn' pk=item.pk %}">
                {% csrf_token %}
                <input class="w3-bar-item w3-mobile w3-right" style="width:100px" type="number" name="amount" min="0" max="{{ item.on_loan }}" value=0>
                <input class="w3-bar-item w3-button w3-theme-d4 w3-hover-black w3-mobile w3-right" type="submit" value="Sign In">
            </form>
            {% endif %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>No Other Gear Found</p>
  {% endif %}

{% endblock %}

{% block side-content %}
  {% include 'ActionSets/Gear.html' %}
{% endblock %}
