{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Gear | Hire</title>
{% endblock %}

{% block main-content %}
  <h1>Gear Hire</h1>

  <h2>Ropes</h2>

{% endblock %}

{% block side-content %}
  <h2>Actions</h2>

  <h3>Rope</h3>
  <span>
    <a class="w3-button w3-block w3-theme-d4 w3-hover-black w3-half" style="text-align: left" href="#">Sign Out</a>
    <a class="w3-button w3-block w3-theme-d4 w3-hover-black w3-half" style="text-align: left" href="#">Sign In</a>
  </span>

  <h3>Helmets</h3>
  <span>
    <a class="w3-button w3-block w3-theme-d4 w3-hover-black w3-half" style="text-align: left" href="#">Sign Out</a>
    <a class="w3-button w3-block w3-theme-d4 w3-hover-black w3-half" style="text-align: left" href="#">Sign In</a>
  </span>

  <h3>SRT Kits</h3>
  <span>
    <a class="w3-button w3-block w3-theme-d4 w3-hover-black w3-half" style="text-align: left" href="#">Sign Out</a>
    <a class="w3-button w3-block w3-theme-d4 w3-hover-black w3-half" style="text-align: left" href="#">Sign In</a>
  </span>

  <h3>Harnesses</h3>
  <span>
    <a class="w3-button w3-block w3-theme-d4 w3-hover-black w3-half" style="text-align: left" href="#">Sign Out</a>
    <a class="w3-button w3-block w3-theme-d4 w3-hover-black w3-half" style="text-align: left" href="#">Sign In</a>
  </span>
  <h3>Other Gear</h3>
  <span>
    <a class="w3-button w3-block w3-theme-d4 w3-hover-black w3-half" style="text-align: left" href="#">Sign Out</a>
    <a class="w3-button w3-block w3-theme-d4 w3-hover-black w3-half" style="text-align: left" href="#">Sign In</a>
  </span>
  <br>
{% endblock %}
