{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Gear | Hire</title>
{% endblock %}

{% block main-content %}
  <h1>Gear Hire</h1>

  <h2>Ropes</h2>
  {% if rope_list %}
    <table class="w3-table w3-table-all w3-striped w3-card">
    <tr class="w3-theme-d3">
      <th>Length</th>
      <th>Diameter</th>
      <th>Year</th>
      <th>Notes</th>
    </tr>
    {% for item in rope_list %}
        <tr id="rope:{{ item.pk }}">
          <td>{{ item.length }}</td>
          <td>{{ item.diameter }}</td>
          <td>{{ item.purchased_year }}</td>
          <td>{{ item.notes }}</td>
        </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>No Ropes Found</p>
  {% endif %}

  <h2>Helmets</h2>
  {% if helmet_list %}
    <table class="w3-table w3-table-all w3-striped w3-card">
    <tr class="w3-theme-d3">
      <th>UID</th>
      <th>Year</th>
      <th>Notes</th>
    </tr>
    {% for item in helmet_list %}
        <tr id="helmet:{{ item.pk }}">
          <td>{{ item.uid }}</td>
          <td>{{ item.purchased_year }}</td>
          <td>{{ item.notes }}</td>
        </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>No Helmets Found</p>
  {% endif %}

  <h2>SRT Kits</h2>
  {% if srtkit_list %}
    <table class="w3-table w3-table-all w3-striped w3-card">
    <tr class="w3-theme-d3">
      <th>Colours</th>
      <th>Notes</th>
    </tr>
    {% for item in srtkit_list %}
        <tr id="srt:{{ item.pk }}">
          <td>{{ item.colour_code }}</td>
          <td>{{ item.notes }}</td>
		</tr>
    {% endfor %}
    </table>
  {% else %}
    <p>No SRT Kits Found</p>
  {% endif %}

  <h2>Harnesses</h2>
  {% if harness_list %}
    <table class="w3-table w3-table-all w3-striped w3-card">
    <tr class="w3-theme-d3">
      <th>UID</th>
      <th>Year</th>
      <th>Notes</th>
    </tr>
    {% for item in harness_list %}
        <tr id="harness:{{ item.pk }}">
          <td>{{ item.uid }}</td>
          <td>{{ item.purchased_year }}</td>
          <td>{{ item.notes }}</td>
		</tr>
    {% endfor %}
    </table>
  {% else %}
    <p>No Harnesses Found</p>
  {% endif %}

  <h2>Undersuits</h2>
  {% if undersuit_list %}
    <table class="w3-table w3-table-all w3-striped w3-card">
    <tr class="w3-theme-d3">
      <th>UID</th>
      <th>Size</th>
      <th>Notes</th>
    </tr>
    {% for item in undersuit_list %}
        <tr id="undersuit:{{ item.pk }}">
          <td>{{ item.uid }}</td>
          <td>{{ item.size }}</td>
          <td>{{ item.notes }}</td>
		</tr>
    {% endfor %}
    </table>
  {% else %}
    <p>No Undersuits Found</p>
  {% endif %}

  <h2>Oversuits</h2>
  {% if oversuit_list %}
    <table class="w3-table w3-table-all w3-striped w3-card">
    <tr class="w3-theme-d3">
      <th>UID</th>
      <th>Size</th>
      <th>Notes</th>
    </tr>
    {% for item in oversuit_list %}
        <tr id="oversuit:{{ item.pk }}">
          <td>{{ item.uid }}</td>
          <td>{{ item.size }}</td>
          <td>{{ item.notes }}</td>
        </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>No Oversuits Found</p>
  {% endif %}

  <h2>Other Gear</h2>
  {% if othergear_list %}
    <table class="w3-table w3-table-all w3-striped w3-card">
      <tr class="w3-theme-d3">
        <th>Name</th>
        <th>Amount</th>
        <th>Notes</th>
      </tr>
      {% for item in othergear_list %}
        <tr id="other:{{ item.pk }}">
          <td>{{ item.name }}</td>
          <td>{{ item.quantity}}</td>
          <td>{{ item.notes }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No Other Gear Found</p>
  {% endif %}

</form>

{% endblock %}

{% block side-content %}
  {% include 'ActionSets/Gear.html' %}
{% endblock %}
