{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Meets | Blog</title>
{% endblock %}

{% block main-content %}
  <h1>Main Content: Trip Logs & Photos</h1>
{% endblock %}

{% block side-content %}
  <h2>Under Contruction</h2>
  <p>This page is currently blank, but will host the bulk of the blog framework into which the club will be able to record their misdoings at their leisure.</p>
  <h2>Legacy Logs</h2>
  <p>All pages containing trip logs (among other things) from the old wiki have been preserved (complete with formatting) in the <a href="http://www.srcf.ucam.org/caving/Archive/Documents/Legacy/">legacy section of the archive</a>.</p>
{% endblock %}
