{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Meets | Blog</title>
{% endblock %}

{% block main-content %}
  <h1>The CUCC Blog</h1>
  {% include 'Blog/PostList.html' %}

{% endblock %}

{% block side-content %}
  {% if user.is_authenticated %}
  {% include 'ActionSets/Blog.html' %}
  {% endif %}

  <h2>Legacy Logs</h2>
  <p>All pages containing trip logs (among other things) from the old wiki have been preserved (complete with formatting) in the <a href="http://www.camcaving.uk/caving/Documents/Legacy/">legacy section of the archive</a>.</p>
{% endblock %}
