{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Meets | Dinners</title>
{% endblock %}

{% block main-content %}
  <h1>Annual Dinner</h1>
  <p>CUCC has a fine tradition of dinners streching back over its 60-year history. </p>
  <p>There is normally a formal Annual Dinner in Cambridge which involves a certain amount of fun an foolishness. As formal dinners go they are an amusing mix of Formal and ridiculous. A cross-dressing theme developed in the 1980s, and has remained popular, along with various forms of caving fancy dress too. Black tie is also perfectly acceptable. A party is usually held afterwards. </p>
  <p>Prizes are awarded for such feats as 'Driver of the year', the 'Golden boot' for the year's finest cock-up, the 'Silver slipper' for the year's best caving bullshit and the 'Big Shaft' award for the most impressive caving discovery. Other ad-hoc awards are invented to commemorate notable events during the year. </p>

  <h1>ExCS Dinner</h1>
  <p>CUCC has an informal spin-off called ExCS - the Ex Cambridge Speleologists. From time to time a dinner outside Cambridge (in a caving area) is organised, usually under this banner. </p>

  <h1>Annual Dinners</h1>
  <p>Every 10 years or so we have a major reunion weekend where lots of ancient CUCC members can come and see what their disreputable mates are doing these days.</p>
  <p><b>CUCC celebrated its 70th anniversary in 2019! </b></p>
  <p>The 70th anniversary dinner weekend was held in Kettlewell in the Yokshire Dales on the week-end 18-20 of September 2009. There was great deal of caving, walking, cycling, drinking and other friendly activities! </p>

  <h1>Club Curries</h1>
  <p>Rather less grand than a fancy dinner, but no less important, are the club curries. We try to get out all together to a curry house in Cambridge for a nice sit down meal. Lovely.</p>
{% endblock %}

{% block side-content %}
  <p></p>
  <img class="w3-image w3-card-4" src="{% static 'Images/Socials/AnnualCUCCDinner2012.JPG' %}" alt="CUCC Annual Dinner 2012">
{% endblock %}
