{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Meets | Pub</title>
{% endblock %}

{% block main-content %}
  <h1>Pub Meets</h1>
  <p>We meet every Tuesday night starting at 9pm, usually at The Elm Tree on Orchard Street (see map) for some food (although they don't serve meals, you are welcome to bring takeaway – there's a great Thai place just next door) and drinks, and mostly for a nice chat. Generally there will be at least a few people wearing obvious CUCC stash, so you shouldn't have trouble finding us. Or just ask, Is this the caving club? This is a great time to get to know other Club members, have a chat and arrange trips underground.</p>
  <p>Do note that it is very much easier to arrange trips in person at the pub rather than over email, so please do try to come along if you can. It is the hope of the current president (T. Crossley, 2019), that his new website will allow trip organisation to be done much more smoothly online, but he admits that no tool will ever be as easy as a face-to-face conversation.</p>
  <p>Pubmeets continue throughout the vacations, usually starting later at about 9.30pm. The Social Secretary sometimes takes requests for a "Roaming Pub" during the holidays, and we move further afield to sample the ales of other establishments.</p>
{% endblock %}

{% block side-content %}
  <h2>CUCC's Favourite Pubs</h2>

  <h3>The Elm Tree</h3>
  <p>The usual haunt of the CUCC</p>
  <iframe class="w3-card-4 w3-block" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=0.12234091758728029%2C52.2020507430994%2C0.1365029811859131%2C52.208264133377085&amp;layer=mapnik&amp;marker=52.20515470002813%2C0.12942629999997735" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=52.20515&amp;mlon=0.12943#map=17/52.20515/0.12943">View Larger Map</a></small>

  <h3>The Castle</h3>
  <iframe class="w3-card-4 w3-block" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=0.08514404296875001%2C52.19955856786872%2C0.14179229736328128%2C52.22440831005872&amp;layer=mapnik&amp;marker=52.21199400002815%2C0.11347000000000662" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=52.2120&amp;mlon=0.1135#map=15/52.2120/0.1135">View Larger Map</a></small>

  <h3>The Haymakers</h3>
  <iframe class="w3-card-4 w3-block" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=0.11115074157714845%2C52.20505563397411%2C0.16779899597167972%2C52.229902301977944&amp;layer=mapnik&amp;marker=52.217480705436714%2C0.13947486877441406" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=52.2175&amp;mlon=0.1395#map=15/52.2175/0.1395">View Larger Map</a></small>

{% endblock %}
