{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Meets | Training</title>
{% endblock %}

{% block main-content %}
  <h1>Training Meets</h1>
  <p>In order to prepare the club for SRT (Single Rope Technique) underground, we hold regular training sessions. In the winter months, we use the FitzPatrick Hall in Queen's College. It has an industrial rigging frame at the top and is ideal for allowing closely supervised learning of SRT.</p>
  <p>As well as basic ascending and descending technique, we practice rescue techniques such as hauling rigs and mid-rope rescue.</p>

  <h1>Training Blog Posts</h1>
  <table class="w3-padding-16 w3-table w3-striped">
  {% for p in posts %}
  <tr><td>
  <div class="w3-container w3-twothird w3-cell w3-mobile">
    <h2>{{ p.title }} {% if user == p.author or user.username == 'webmaster' %}<a class="w3-button w3-right w3-large w3-theme-d4 w3-hover-black" href="{% url 'BlogEdit' pk=p.pk %}">Edit</a>{% endif %}</h2>
    <p style="white-space: pre-wrap;">{{ p.text }}</p>
    <p class=w3-small><i>-- {{ p.author }}, {{ p.published_date.date }}</i></p>
  </div>
  <div class="w3-center w3-container w3-third w3-cell w3-mobile">
    {% for i in image_list %}
    {% if i.post == p %}
    <img class="w3-image" src="{{ i.images.url }}" alt="{{ p.title }}">
    {% endif %}
    {% endfor %}
  </div>
  </td></tr>
  {% endfor %}
  </table>

{% if posts.has_other_pages %}
  <div class="pagination w3-bar w3-center w3-padding-32">
    {% if posts.has_previous %}
      <a class="w3-button w3-hover-black" href="?page={{ posts.previous_page_number }}">&laquo;</a>
    {% else %}
      <span class="disabled w3-button">&laquo;</span>
    {% endif %}
    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <span class="active w3-button w3-black">{{ i }} <span class="sr-only">(current)</span></span>
      {% else %}
        <a class="w3-button w3-hover-black" href="?page={{ i }}">{{ i }}</a>
      {% endif %}
    {% endfor %}
    {% if posts.has_next %}
      <a class="w3-button w3-hover-black" href="?page={{ posts.next_page_number }}">&raquo;</a>
    {% else %}
      <span class="disabled w3-button">&raquo;</span>
    {% endif %}
  </div>
  {% endif %}

{% endblock %}

{% block side-content %}
  <h2>Fitzpatrick Hall</h2>
  <p>The Fitzpatrick Hall, where we do our SRT Training, can be found in Queen's College. It is best accessed through the Cripp'S Court Porters' Lodge on the West side of the Silver Street Bridge.</p>
  <iframe class="w3-card-4 w3-block" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=0.10647296905517578%2C52.19877603547087%2C0.12063503265380861%2C52.20498988361302&amp;layer=mapnik&amp;marker=52.20188306814845%2C0.11355400085449219" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=52.20188&amp;mlon=0.11355#map=17/52.20188/0.11355">View Larger Map</a></small>
  <p></p>
  <img src="{% static "Images/Training/Training.jpg" %}" class="w3-card-4 w3-hide-small" style="width:100%" alt="Training on the FitzPatrick Stage">
  <p></p>
  <img src="{% static "Images/Training/Training2.jpg" %}" class="w3-card-4 w3-hide-small" style="width:100%" alt="Training on Lammas Land">
  <p></p>
{% endblock %}
