{% extends 'Base.html' %}
{% load static %}

{% block title %}
  <title>CUCC | Meets | Training</title>
{% endblock %}

{% block main-content %}
  <h1>Training Meets</h1>
  <p>In order to prepare the club for SRT (Single Rope Technique) underground, we hold regular training sessions. In the winter months, we use the FitzPatrick Hall in Queen's College. It has an industrial rigging frame at the top and is ideal for allowing closely supervised learning of SRT.</p>
  <p>As well as basic ascending and descending technique, we practice rescue techniques such as hauling rigs and mid-rope rescue.</p>

  <h1>Training Blog Posts</h1>
  {% include 'Blog/PostList.html' %}

{% endblock %}

{% block side-content %}
  {% include 'ActionSets/Blog.html' %}
  <h2>Fitzpatrick Hall</h2>
  <p>The Fitzpatrick Hall, where we do our SRT Training, can be found in Queen's College. It is best accessed through the Cripp'S Court Porters' Lodge on the West side of the Silver Street Bridge.</p>
  <iframe class="w3-card-4 w3-block" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=0.10647296905517578%2C52.19877603547087%2C0.12063503265380861%2C52.20498988361302&amp;layer=mapnik&amp;marker=52.20188306814845%2C0.11355400085449219" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=52.20188&amp;mlon=0.11355#map=17/52.20188/0.11355">View Larger Map</a></small>
  <p></p>
  <img src="{% static "Images/Training/Training.jpg" %}" class="w3-card-4 w3-hide-small" style="width:100%" alt="Training on the FitzPatrick Stage">
  <p></p>
  <img src="{% static "Images/Training/Training2.jpg" %}" class="w3-card-4 w3-hide-small" style="width:100%" alt="Training on Lammas Land">
  <p></p>
{% endblock %}
