{% extends 'Base.html' %}
{% load static %}
{% load currency %}

{% block title %}
  <title>CUCC | Bank | View Transaction Group</title>
{% endblock %}

{% block main-content %}
  <h1>Viewing: {{ transaction_group }}</h1>

  <p><i>Created on {{ transaction_group.created_on.date.isoformat }} at {{ transaction_group.created_on.time.isoformat }} by {{ transaction_group.created_by }}</i></p>
  <p><b>Date:</b> {{ transaction_group.date.date.isoformat }}</p>
  <p><b>Notes:</b> {{ transaction_group.notes }}</p>
  <p><b>Approved:</b> <i>{% if transaction_group.is_approved %}Approved on {{ transaction_group.approved_on.date.isoformat }} at {{ transaction_group.approved_on.time.isoformat }} by {{ transaction_group.approved_by }}{% else %}Awaiting Approval{% endif %}</i></p>
  {% if transaction_group.event %}
    <p><b>Parent:</b> <a href="{% url 'ViewEvent' transaction_group.event.event_key %}">{{ transaction_group.event }}</a></p>
  {% endif %}

  <table class="w3-table w3-striped w3-card">
    <tr class="w3-theme-d3">
      <th>Account A</th>
      <th>Credit A</th>
      <th>Account B</th>
      <th>Credit B</th>
      <th>Approved?</th>
      <th>Heritage</th>
    </tr>
    {% for transaction in transaction_group.transaction_set.all %}
      <tr>
        <td colspan="6"><b><a href="{% url 'ViewTransaction' transaction.transaction_key %}">{{ transaction }}</a></b></td>
      </tr>
      {% for entry in transaction.entry_set.all %}
        <tr>
          <td><a href="{% url 'ViewAccount' entry.account_a.account_key %}">{{ entry.account_a }}</a></td>
          <td>{{ entry.credit_a|currency }}</td>
          <td><a href="{% url 'ViewAccount' entry.account_b.account_key %}">{{ entry.account_b }}</a></td>
          <td>{{ entry.credit_b|currency }}</td>
          <td>{{ entry.is_approved }}</td>
          {% if entry.transaction is not None %}
            {% if entry.transaction.transaction_group is not None %}
              {% if entry.transaction.transaction_group.event %}
                <td><a href="{% url 'ViewEntry' entry.entry_key %}">{{ entry.short_id }}</a>, <a href="{% url 'ViewTransaction' entry.transaction.transaction_key %}">{{ entry.transaction }}</a>, <a href="{% url 'ViewTransactionGroup' entry.transaction.transaction_group.group_key %}">{{ entry.transaction.transaction_group }}</a>, <a href="{% url 'ViewEvent' entry.transaction.transaction_group.event.event_key %}">{{ entry.transaction.transaction_group.event }}</a></td>
              {% else %}
                <td><a href="{% url 'ViewEntry' entry.entry_key %}">{{ entry.short_id }}</a>, <a href="{% url 'ViewTransaction' entry.transaction.transaction_key %}">{{ entry.transaction }}</a>, <a href="{% url 'ViewTransactionGroup' entry.transaction.transaction_group.group_key %}">{{ entry.transaction.transaction_group }}</a></td>
              {% endif %}
            {% else %}
              <td><a href="{% url 'ViewEntry' entry.entry_key %}">{{ entry.short_id }}</a>, <a href="{% url 'ViewTransaction' entry.transaction.transaction_key %}">{{ entry.transaction }}</a></td>
            {% endif %}
          {% else %}
            <td><a href="{% url 'ViewEntry' entry.entry_key %}">{{ entry.short_id }}</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
{% endblock %}

{% block side-content %}
  <h2>Transaction Group Actions</h2>
  {% if transaction_group.is_editable %}
    <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'ToggleApproveTransactionGroup' transaction_group.group_key %}">Toggle Approved Status</a>
    <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'DeleteTransactionGroup' transaction_group.group_key %}">Delete This Transaction Group</a>
    <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'EditTransactionGroupCreditor' transaction_group.group_key %}">Edit Transaction Group Creditors</a>
    <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'EditTransactionGroupDebtor' transaction_group.group_key %}">Edit Transaction Group Debtors</a>
    <a class="w3-button w3-block w3-theme-d4 w3-hover-black" style="text-align: left" href="{% url 'EditTransactionGroupData' transaction_group.group_key %}">Edit Transaction Group Data</a>
  {% else %}
  <p><i>This transaction is owned by an event. You can only edit the highest level of a financial object. See the "heritage" section for the highest level of this object.</i></p>
  {% endif %}

  {% include 'ActionSets/Bank.html' %}
{% endblock %}
