{% extends 'Bank/AddEvent/AddEventBase.html' %}
{% load static %}
{% load currency %}

{% block form %}
  <h2>Input Data</h2>
  <form method="post" action="{% url 'CreateEventAction' %}">
  {% csrf_token %}
  {% for user in user_list %}
    <input type="hidden" name="USER:{{ user.account_key }}" value="user">
  {% endfor %}
  <input type="hidden" name="fee_template" value="{{ template.template_key }}">
  <table class="w3-table w3-striped">
    <tr>
      <td>Name:</td>
      <td><input class="w3-input" type="text" name="name" value="{{ name }}"></td>
    </tr>
    <tr>
      <td>Date:</td>
      <td><input class="w3-input" type="date" name="date" value="{{ date.date.isoformat }}"></td>
    </tr>
  </table>
  <div class="w3-panel w3-yellow w3-card-4">
    <p><b>Tip</b> - The amount entered into each cell of the table is the amount that the user account should be credited by. The corresponding credit/debit to the debtors will be calculated automatically. Each row represents a many-to-one transaction.</p>
  </div>
  <table class="w3-table w3-striped">
    <tr>
      <td class="w3-theme-d2"><b>Users:</b></td>
      <td class="w3-theme-d1" colspan="{{ template.custom_currency.all|length }}"><b>Charges/Credits:</b><br><i>(must be integers)</i></td>
      <td class="w3-theme-d2" colspan="{{ template.custom_expense.all|length }}"><b>Expenses:</b></td>
    </tr>
    <tr>
      <td class="w3-theme-d2"></td>
      {% for currency in template.custom_currency.all %}
        <td  class="w3-theme-d1" style="min-width:120px">{{ currency }} ({{ currency.credit|currency }})</td>
      {% endfor %}
      {% for expense in template.custom_expense.all %}
        <td  class="w3-theme-d2" style="min-width:120px">{{ expense }}</td>
      {% endfor %}
    </tr>
    {% for user in user_list %}
      <tr>
        <td class="w3-theme-d2">{{ user }}:</td>
          {% for currency in template.custom_currency.all %}
            <td class="w3-theme-l3"><input class="w3-input" type="number" step="1" name="AMOUNT:{{ currency.currency_key }}:{{ user.account_key }}"></td>
          {% endfor %}
          {% for expense in template.custom_expense.all %}
            <td class="w3-theme-l3"><input class="w3-input" type="number" step="0.01" name="AMOUNT:{{ expense.expense_key }}:{{ user.account_key }}"></td>
          {% endfor %}
      </tr>
    {% endfor %}
  </table>
  <br>
  <table class="w3-table w3-striped">
    <tr>
      <td>Notes:<br><i>Be consice</i></td>
      <td><input class="w3-input" type="textarea" name="notes"></td>
    </tr>
  </table>
  <div class="w3-padding-16">
    <button class="w3-button w3-theme-d3 w3-hover-black w3-mobile" type="submit">Submit</button>
  </div>
  </form>
{% endblock %}
