{% extends 'Bank/AddEvent/AddEventBase.html' %}
{% load static %}

{% block form %}
  <h2>Event Setup</h2>
  <form method="post" action="{% url 'CreateEventData' %}">
  {% csrf_token %}

  <table class="w3-table w3-striped">
    <tr>
      <td>Name:</td>
      <td><input class="w3-input" type="text" name="name"></td>
    </tr>
    <tr>
      <td>Date:</td>
      <td><input class="w3-input" type="date" name="date" value="{{ date.date.isoformat }}"></td>
    </tr>
    <tr>
      <td>Fee Template:</td>
      <td>
        <select class="w3-input" name="fee_template">
          {% for template in template_list %}
            <option value="{{ template.template_key }}">{{ template }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td colspan='2'><b>Users:</b></td>
    </tr>
    {% for user in user_list %}
      <tr>
        <td>{{ user }}:</td>
        <td>
          <input class="w3-input" type="checkbox" name="USER:{{ user.account_key }}" value="user">
        </td>
      </tr>
    {% endfor %}
  </table>
  <div class="w3-padding-16">
    <button class="w3-button w3-theme-d3 w3-hover-black w3-mobile" type="submit">Next</button>
  </div>
  </form>
{% endblock %}
